force-app/main/default/flows/Approve_Time_Sheets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the recordId value to the ids collection.</description>
        <name>AddRecordIdToCollection</name>
        <label>Add Record ID To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRecordIdCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the ID of the current record in the loop to the TimeSheetEntryIds collection.</description>
        <name>AddTimeSheetEntryIdToCollection</name>
        <label>Add Time Sheet Entry ID To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetEntryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverTimeSheetEntries.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverTimeSheetEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the ApprovedRecordCount to the number of records in the Time Sheets from Get Time Sheets record collection variable.</description>
        <name>SetApprovedRecordCount</name>
        <label>Set Approved Record Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ApprovedRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTimeSheets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTimeSheetEntries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the RecordIdCount to the number of records in the ids collection variable.</description>
        <name>SetRecordIdCount</name>
        <label>Set Record ID Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecordIdCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordCountLessThanOrEqualToMaximum</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the maximum number of time sheet record IDs that can be approved.</description>
        <name>MaximumRecordIdCount</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that is displayed to the flow user when no records are found.</description>
        <name>NoRecordsFoundText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>We couldn’t find any time sheet records. Ask your admin for help.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that’s shown when a time sheet record is approved.</description>
        <name>TimeSheetApprovedMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The time sheet was approved.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that’s shown when time sheet records are approved.</description>
        <name>TimeSheetsApprovedMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The time sheet records were approved.</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether a Record ID was passed into the flow by checking if the recordId variable contains a value.</description>
        <name>HaveRecordId</name>
        <label>Have Record ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetRecordIdCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRecordIdToCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a Record ID was passed into the flow by checking if the recordId variable contains a value.</description>
        <name>HaveRecordIdDisplayApproval</name>
        <label>Have Record ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DisplayTimeSheetsApprovedMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasRecordIdDisplayApproval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenDisplayTimeSheetApprovedMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether TimeSheet records were found by checking if the Time Sheets from Get Time Sheets record collection contains a record.</description>
        <name>HaveTimeSheets</name>
        <label>Have Time Sheets?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayErrorNoRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTimeSheets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTimeSheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTimeSheets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the record count exceeds the allowed maximum by checking whether RecordIdCount is less than or equal to MaximumRecordIdCount.</description>
        <name>RecordCountLessThanOrEqualToMaximum</name>
        <label>Record Count Less Than or Equal to Maximum?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayErrorMaxRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>DoesHaveRecCountLessThanOrEqualToMaximum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIdCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaximumRecordIdCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTimeSheets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DS</description>
    <environments>Default</environments>
    <interviewLabel>Approve Time Sheets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Time Sheets</label>
    <loops>
        <description>Repeats an action for each record in the Time Sheet Entries from Get Time Sheet Entries collection.</description>
        <name>IterateOverTimeSheetEntries</name>
        <label>Iterate Over Time Sheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetTimeSheetEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTimeSheetEntryIdToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTimeSheetEntryItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get time sheet entry records with time sheet IDs that match those in the ids collection. Stores the results in Time Sheet Entries from Get Time Sheet Entries record collection.</description>
        <name>GetTimeSheetEntries</name>
        <label>Get Time Sheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOverTimeSheetEntries</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets time sheet records with an ID in the ids collection variable. Stores the results in Time Sheets from Get Time Sheets collection.</description>
        <name>GetTimeSheets</name>
        <label>Get Time Sheets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheets</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>Rolls back the current record update and reverts all previous record changes after flow execution.</description>
        <name>RollbackRecordChanges</name>
        <label>Rollback Record Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScrnDplyErrorUpdtTimeSheetEntryItems</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Updates time sheet entry records with a time sheet ID that match those in the ids collection, setting the status comment to an empty value, and the Status to Approved.</description>
        <name>UpdateTimeSheetEntries</name>
        <label>Update Time Sheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTimeSheetEntries</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetId</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the time sheet entryItems records with TimeSheetEntryItemIds that match those in the IDs collection, setting the Status Comment to an empty value, and the Status to Approved.</description>
        <name>UpdateTimeSheetEntryItems</name>
        <label>Update Time Sheet Entry Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRecordIdDisplayApproval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetEntryId</field>
            <operator>In</operator>
            <value>
                <elementReference>TimeSheetEntryIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheetEntryItem</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the TimeSheet records with IDs that match those in the ids collection, setting the status comment to an empty value, and the status to Approved.</description>
        <name>UpdateTimeSheets</name>
        <label>Update Time Sheets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetApprovedRecordCount</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
    </recordUpdates>
    <screens>
        <description>Displays a message to the flow user when  time sheet records are approved.</description>
        <name>DisplayTimeSheetsApprovedMessage</name>
        <label>Display Time Sheets Approved Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TimeSheetsApprovedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!TimeSheetsApprovedMessage} &lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;Number of time she&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ets approved: &lt;/strong&gt;&lt;strong&gt;{!ApprovedRecordCount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when the number of records to be approved is greater than the allowed maximum.</description>
        <name>ScreenDisplayErrorMaxRecords</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMaximumRecordsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The number of selected time sheet records exceeds the allowed maximum of {!MaximumRecordIdCount}.Select less records and try again.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when no time sheet records are found.</description>
        <name>ScreenDisplayErrorNoRecords</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoRecordsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!NoRecordsFoundText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the flow user when a single time sheet record is approved.</description>
        <name>ScreenDisplayTimeSheetApprovedMessage</name>
        <label>Display Time Sheet Approved Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TimeSheetApprovedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!TimeSheetApprovedMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there’s an error updating the time sheet entry item records.</description>
        <name>ScrnDplyErrorUpdtTimeSheetEntryItems</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorUpdtTimeSheetEntryItemsDplyTxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;We couldn’t update the time sheet entry item records.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>ifstmsht__ApproveTimeSheets</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the number of approved Time Sheet records.</description>
        <name>ApprovedRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores a collection of timesheet record IDs.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the timesheet record that’s passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the number of records in the ids collection variable.</description>
        <name>RecordIdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores a collection of time sheet entry IDs.</description>
        <name>TimeSheetEntryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
