force-app/main/default/flows/Approve_and_Finalize_Visit_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Draft_Narrative</name>
        <label>Draft Narrative</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DraftVisitNarrativeAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Review_and_Attest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visitId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DraftVisitNarrativeAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Attestation_Check</name>
        <label>Attestation Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Attestation_Required_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Attested</defaultConnectorLabel>
        <rules>
            <name>Attested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Attestation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finalize_Visit</targetReference>
            </connector>
            <label>Attested</label>
        </rules>
    </decisions>
    <description>Screen flow launched from the Approve and Finalize quick action on Visit. Worker attests the review, edits the final narrative, and on finish the flow copies Proposed rankings/hours/justifications into Approved fields and stamps the review submission date.</description>
    <environments>Default</environments>
    <interviewLabel>Approve and Finalize Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve and Finalize Visit Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Visit</name>
        <label>Get Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_and_Attest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <queriedFields>Draft_Narrative__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Finalize_Visit</name>
        <label>Finalize Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ambulation_Approved_Ranking__c</field>
            <value>
                <elementReference>Get_Visit.Ambulation_Proposed_Ranking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Domestic_Services_Approved_Ranking__c</field>
            <value>
                <elementReference>Get_Visit.Domestic_Services_Proposed_Ranking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Narrative__c</field>
            <value>
                <elementReference>Final_Narrative</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meal_Preparation_Approved_Ranking__c</field>
            <value>
                <elementReference>Get_Visit.Meal_Preparation_Proposed_Ranking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orientation_Approved_Ranking__c</field>
            <value>
                <elementReference>Get_Visit.Orientation_Proposed_Ranking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_For_Review_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Approval_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <screens>
        <name>Attestation_Required_Screen</name>
        <label>Attestation Required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AttestationRequiredMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 14px;&quot;&gt;Attestation required&lt;/b&gt;&lt;/p&gt;&lt;p&gt;The visit cannot be finalized without your attestation. Please re-open the Approve and Finalize action to complete the review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Review_and_Attest</name>
        <label>Review and Attest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Attestation_Check</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Approve and Finalize Visit&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Review the proposed rankings, hours, and justifications below. When you finalize, the proposed values will be recorded as the approved values, the final narrative will be saved, and the visit will be submitted for review.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Rankings_Summary</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Proposed Rankings&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Meal Preparation: &lt;b&gt;{!Get_Visit.Meal_Preparation_Proposed_Ranking__c}&lt;/b&gt; — {!Get_Visit.Meal_Preparation_Proposed_Hours__c} hrs&lt;/li&gt;&lt;li&gt;Ambulation: &lt;b&gt;{!Get_Visit.Ambulation_Proposed_Ranking__c}&lt;/b&gt; — {!Get_Visit.Ambulation_Proposed_Hours__c} hrs&lt;/li&gt;&lt;li&gt;Domestic Services: &lt;b&gt;{!Get_Visit.Domestic_Services_Proposed_Ranking__c}&lt;/b&gt; — {!Get_Visit.Domestic_Services_Proposed_Hours__c} hrs&lt;/li&gt;&lt;li&gt;Orientation: &lt;b&gt;{!Get_Visit.Orientation_Proposed_Ranking__c}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Final_Narrative</name>
            <defaultValue>
                <elementReference>Get_Visit.Draft_Narrative__c</elementReference>
            </defaultValue>
            <fieldText>Final Narrative</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Attestation</name>
            <dataType>Boolean</dataType>
            <fieldText>I attest that I have reviewed the authorized hours and justifications in accordance with State MPP guidelines, and they accurately reflect the recipient&apos;s level of need.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(8, 107, 45); font-size: 14px;&quot;&gt;✓ Visit finalized and submitted for review&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Approved rankings and the final narrative have been saved. The submission date has been stamped. A supervisor can now review the approved rankings, hours, justifications, and narrative.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
