force-app/main/default/flows/ASA_Budget_Billing_Enrollment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ConvertTxttoNum</name>
        <label>ConvertTxttoNum</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>BudgetBillingAmountNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetBillAmountFrm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enroll_in_Budget_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Enroll_in_Budget_Billing_Assignment</name>
        <label>Copy 1 of Enroll in Budget Billing Assignment</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Account.BudgetBilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BudgetBillAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_Changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EnrollInBudgetBillingAssignment</name>
        <label>Enroll in Budget Billing Assignment</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Account.BudgetBilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.BudgetBillAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BudgetBillAmountFrm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_Changes</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Enroll_in_Budget_Billing</name>
        <label>Enroll in Budget Billing?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Make_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Enroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEnableBudgetBilling</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnrollInBudgetBillingAssignment</targetReference>
            </connector>
            <label>Enroll</label>
        </rules>
        <rules>
            <name>Cancel_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isEnableBudgetBilling</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Enroll_in_Budget_Billing_Assignment</targetReference>
            </connector>
            <label>Cancel Enrollment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Make_Changes</name>
        <label>Make Changes?</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChangesRequired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Enroll</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cancel_Enrollment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecord</targetReference>
            </connector>
            <label>ChangesRequired</label>
        </rules>
    </decisions>
    <description>Your job is to enroll or cancel budget billing or equal payment plan for a customer</description>
    <environments>Default</environments>
    <formulas>
        <name>BudgetBillAmountFrm</name>
        <dataType>Number</dataType>
        <expression>VALUE({!BudgetBillAmountTxt})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ASA Budget Billing Enrollment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASA Enroll in Budget Billing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BudgetBillAmount__c</field>
            <value>
                <elementReference>Account.BudgetBillAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetBilling__c</field>
            <value>
                <elementReference>Account.BudgetBilling__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ConvertTxttoNum</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Place the amount the customer will be paying each month in this field</description>
        <name>BudgetBillAmountTxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BudgetBillingAmountNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>If the user wants to enroll in budget billing or equal payment plan, set this field to true</description>
        <name>isEnableBudgetBilling</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
