force-app/main/default/flows/ASA_Optimization_AB_Create_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Missing_Fields_to_Service_Appointment</name>
        <label>Assign Missing Fields to Service Appointment</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTypeSLADueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EarliestStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Created.Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Created.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Created.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Auto_created_Service_Appointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order_Created.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Service_Appointment_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>the variable is an output var to be used by the agent for following flows</description>
        <name>Assign_Service_Appointment_ID</name>
        <label>Assign Service Appointment ID</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Auto_created_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Appointment_ID_for_Created_SA</name>
        <label>Assign Service Appointment ID for Created SA</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Service_Appointment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Created_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Service_Appointment_is_Auto_created</name>
        <label>Is Service Appointment is Auto-created</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Appointment_is_Auto_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Type.ShouldAutoCreateSvcAppt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Auto_created_Service_Appointment</targetReference>
            </connector>
            <label>Service Appointment is Auto-created</label>
        </rules>
    </decisions>
    <description>5/6: Debarshi: Added Duration Type: In order to find available times, we need to create the service appointment first.</description>
    <environments>Default</environments>
    <formulas>
        <name>dueDateoffset</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Formatted_DueDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(
{!CustomerDueDate} &gt; {!WorkTypeSLADueDate}, 
{!WorkTypeSLADueDate}, 
{!CustomerDueDate})</expression>
    </formulas>
    <formulas>
        <name>WorkTypeSLADueDate</name>
        <dataType>DateTime</dataType>
        <expression>IF(ISNULL({!Get_Work_Type.FSL__Due_Date_Offset__c}),({!EarliestStart}+1),
IF( ({!EarliestStart}+{!Get_Work_Type.FSL__Due_Date_Offset__c})&gt;({!EarliestStart}+5), 
{!EarliestStart}+5, 
{!EarliestStart} + {!Get_Work_Type.FSL__Due_Date_Offset__c}+{!Get_Work_Type.EstimatedDuration}))</expression>
    </formulas>
    <interviewLabel>ASA Optimization AB Create Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ASA Optimization AB Create Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_AB_Agent_Metric</name>
        <label>Create AB Agent Metric</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Messaging_Session_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Id__c</field>
            <value>
                <elementReference>Service_Appointment_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Number__c</field>
            <value>
                <elementReference>Get_Auto_created_Service_Appointment.AppointmentNumber</elementReference>
            </value>
        </inputAssignments>
        <object>AB_Agent_Metric__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AB_Agent_Metric_for_Created_SA</name>
        <label>Create AB Agent Metric for Created SA</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Messaging_Session_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Id__c</field>
            <value>
                <elementReference>Service_Appointment_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SA_Number__c</field>
            <value>
                <elementReference>Get_Created_SA.AppointmentNumber</elementReference>
            </value>
        </inputAssignments>
        <object>AB_Agent_Metric__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Service_Appointment_ID_for_Created_SA</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Work_Order_Created.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Work_Order_Created.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Work_Order_Created.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>WorkTypeSLADueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Get_Work_Order_Created.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>Get_Work_Order_Created.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>EarliestStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Work_Order_Created.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Work_Order_Created.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Work_Order_Created.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Work_Order_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>assetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Contact.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Contact.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Contact.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Contact.SDO_SFS_Rider_ServiceTerritory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Contact.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Agentforce generated Work Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>workTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Auto_created_Service_Appointment</name>
        <label>Get Auto-created Service Appointment</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Missing_Fields_to_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_SA</name>
        <label>Get Created SA</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_AB_Agent_Metric_for_Created_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Created</name>
        <label>Get Work Order Created</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Service_Appointment_is_Auto_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_AB_Agent_Metric</targetReference>
        </connector>
        <inputReference>Get_Auto_created_Service_Appointment</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Default value as Asset ID</description>
        <name>assetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the contact ID of the user that was authenticated</description>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the due date or latest that the customer wants for their booking window</description>
        <name>CustomerDueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Derived based on work type SLA (as per the worktype derived)</description>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>WorkTypeSLADueDate</elementReference>
        </value>
    </variables>
    <variables>
        <description>This is the earliest permitted date/time that the appointment can be for. Default is Now().</description>
        <name>EarliestStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <elementReference>Get_Contact.Account.BillingLatitude</elementReference>
        </value>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <elementReference>Get_Contact.Account.BillingLongitude</elementReference>
        </value>
    </variables>
    <variables>
        <description>Retrieve this from context variables. This is known as: Messaging Session Id, MessagingSessionId, or RoutableId</description>
        <name>Messaging_Session_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the created service appointment ID, this is confirmation that the appointment was created - do not show this to the user</description>
        <name>Service_Appointment_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the Id of the Work Type that was selected</description>
        <name>workTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
