force-app/main/default/flows/CP_LauchApplicationApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>11/6: Debarshi</description>
    <environments>Default</environments>
    <interviewLabel>CP_LauchApplicationApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP_LauchApplicationApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Edit_Ext_Proj</name>
        <label>Edit Ext Proj</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <inputAssignments>
            <field>ExternalProject</field>
            <value>
                <stringValue>EVR-28835332</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Edit_Ext_Proj</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_one_minute</name>
            <connector>
                <targetReference>Start_Application_Approval_Flow_Contractor</targetReference>
            </connector>
            <label>Wait one minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Start_Application_Approval_Flow_Contractor</name>
        <label>Start Application Approval Flow Contractor</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <flowName>Trigger_Application_Approval_for_Contractor</flowName>
        <inputAssignments>
            <name>ApplicationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
