force-app/main/default/flows/Create_Absence_Time_Sheet_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that converts the end date of the current item in the loop to a date and time format.</description>
        <name>ConvertEndDateToDateTime</name>
        <label>Convert End Date to Date Time</label>
        <locationX>534</locationX>
        <locationY>4019</locationY>
        <actionName>convertDateToDateTime</actionName>
        <actionType>convertDateToDateTime</actionType>
        <connector>
            <targetReference>SetTimeSheetEntryVariables</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>date</name>
            <value>
                <elementReference>IterateOverAllTimeSheets.EndDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hour</name>
            <value>
                <numberValue>23.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>minute</name>
            <value>
                <numberValue>59.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>second</name>
            <value>
                <numberValue>59.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateToDateTime</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that converts the start date of the current item in the loop to a date and time format.</description>
        <name>ConvertStartDateToDateTime</name>
        <label>Convert Start Date to Date Time</label>
        <locationX>534</locationX>
        <locationY>3911</locationY>
        <actionName>convertDateToDateTime</actionName>
        <actionType>convertDateToDateTime</actionType>
        <connector>
            <targetReference>ConvertEndDateToDateTime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>date</name>
            <value>
                <elementReference>IterateOverAllTimeSheets.StartDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hour</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>minute</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>second</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateToDateTime</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that converts the end date time of the current item in the loop to a date string format.</description>
        <name>GetEndDate</name>
        <label>Get End Date</label>
        <locationX>479</locationX>
        <locationY>647</locationY>
        <actionName>convertDateTimeToDate</actionName>
        <actionType>convertDateTimeToDate</actionType>
        <connector>
            <targetReference>GetTimeSheets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTime</name>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateTimeToDate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that converts the prior end date time of the current item in the loop to a date string format.</description>
        <name>GetPriorEndDate</name>
        <label>Get Prior End Date</label>
        <locationX>479</locationX>
        <locationY>431</locationY>
        <actionName>convertDateTimeToDate</actionName>
        <actionType>convertDateTimeToDate</actionType>
        <connector>
            <targetReference>GetStartDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTime</name>
            <value>
                <elementReference>$Record__Prior.End</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateTimeToDate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that converts the prior start date time of the current item in the loop to a date string format.</description>
        <name>GetPriorStartDate</name>
        <label>Get Prior Start Date</label>
        <locationX>479</locationX>
        <locationY>323</locationY>
        <actionName>convertDateTimeToDate</actionName>
        <actionType>convertDateTimeToDate</actionType>
        <connector>
            <targetReference>GetPriorEndDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTime</name>
            <value>
                <elementReference>$Record__Prior.Start</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateTimeToDate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that converts the start date time of the current item in the loop to a date string format.</description>
        <name>GetStartDate</name>
        <label>Get Start Date</label>
        <locationX>479</locationX>
        <locationY>539</locationY>
        <actionName>convertDateTimeToDate</actionName>
        <actionType>convertDateTimeToDate</actionType>
        <connector>
            <targetReference>GetEndDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTime</name>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateTimeToDate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the NextDate value to the DateRange collection.</description>
        <name>AddNextDateToDateRange</name>
        <label>Add Next Date to Date Range</label>
        <locationX>512</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>DateRange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NextDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverDateRange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the StartDateFormula date to the DateRange collection.</description>
        <name>AddStartDateToCollection</name>
        <label>Add Start Date to Collection</label>
        <locationX>248</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>DateRange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StartDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverDateRange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the TimeSheetEntry record variable to the TimeSheetEntries record collection variable.</description>
        <name>AddTimeSheetEntryToCollection</name>
        <label>Add Time Sheet Entry to Collection</label>
        <locationX>534</locationX>
        <locationY>4643</locationY>
        <assignmentItems>
            <assignToReference>NewTimeSheetEntries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimeSheetEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverAllTimeSheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the time sheet ID of the current record in the loop to the TimeSheetIds collection.</description>
        <name>AddTimeSheetIdToCollection</name>
        <label>Add Time Sheet ID To Collection</label>
        <locationX>413</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverTimeSheets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverTimeSheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the TimeSheet record variable to the NewTimeSheets record collection variable.</description>
        <name>AddTimeSheetToCollection</name>
        <label>Add Time Sheet to Collection</label>
        <locationX>512</locationX>
        <locationY>3011</locationY>
        <assignmentItems>
            <assignToReference>NewTimeSheets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimeSheet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverDateRange2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the NextDate variable to the value in AddOneDayFormula.</description>
        <name>SetNextDateVariable</name>
        <label>Set Next Date Variable</label>
        <locationX>424</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddOneDayFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsNextDateAfterEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the TimeSheetEntryEndTime variable to the End Time of the triggering record.</description>
        <name>SetTimeSheetEntryEndTime</name>
        <label>Set Time Sheet Entry End Time</label>
        <locationX>402</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetEntryEndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTimeSheetEntryVariableValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the TimeSheetEntryStartTime variable to the start time of the triggering record and TimeSheetEntryEndTime variable to the end time of the triggering record.</description>
        <name>SetTimeSheetEntryStartTimeAndEndTime</name>
        <label>Set Time Sheet Entry Start Time and End Time</label>
        <locationX>666</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetEntryEndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetEntryStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTimeSheetEntryVariableValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the TimeSheetEntryStartTime variable to the start time of the triggering record.</description>
        <name>SetTimeSheetEntryStartTimeVariable</name>
        <label>Set Time Sheet Entry Start Time Variable</label>
        <locationX>138</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetEntryStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTimeSheetEntryVariableValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the TimeSheetId variable to the time sheet ID of the current item in the loop, the TimeSheetEntryStartDateTime variable to the Output from Convert Start Date to Date and Time, and the TimeSheetEntryEndDateTime variable to the Output from Convert End Date to Date and Time</description>
        <name>SetTimeSheetEntryVariables</name>
        <label>Set Time Sheet Entry Variables</label>
        <locationX>534</locationX>
        <locationY>4127</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverAllTimeSheets.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetEntryEndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertEndDateToDateTime.ConvertedDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetEntryStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertStartDateToDateTime.ConvertedDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichTimeSheetDatesMatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets field values for the TimeSheetEntry record variable, setting the time sheet ID to the TimeSheetId variable value, the start time to the TimeSheetEntryStartTime value, the end time to the TimeSheetEntryEndTime value, and the category to Vacation.</description>
        <name>SetTimeSheetEntryVariableValues</name>
        <label>Set Time Sheet Entry Variable Values</label>
        <locationX>534</locationX>
        <locationY>4535</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetEntry.TimeSheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetEntry.StartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSheetEntryStartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetEntry.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSheetEntryEndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheetEntry.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vacation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTimeSheetEntryToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns field values for the TimeSheet record variable, setting the start and and date to match the values of the current item in the loop, and the resource ID to that of the triggering record.</description>
        <name>SetTimeSheetVariableValues</name>
        <label>Set Time Sheet Variable Values</label>
        <locationX>512</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>TimeSheet.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverDateRange2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheet.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverDateRange2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeSheet.ServiceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTimeSheetToCollection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Filters records from Time Sheets from Get Time record collection variable with start and end dates matching that of the current item in the loop. Stores the results in the Time Sheets from Filter Time Sheets record collection variable.</description>
        <name>FilterTimeSheets</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Time Sheets</label>
        <locationX>424</locationX>
        <locationY>2687</locationY>
        <assignNextValueToReference>currentItem_FilterTimeSheets</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetTimeSheets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterTimeSheets.StartDate</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>IterateOverDateRange2</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FilterTimeSheets.EndDate</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>IterateOverDateRange2</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>HaveTimeSheet</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>Determines whether time sheet records were found by checking if the Time Sheets from Get All Time Sheets  record collection variable contains records.</description>
        <name>HaveAllTimeSheets</name>
        <label>Have All Time Sheets?</label>
        <locationX>248</locationX>
        <locationY>3695</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasAllTimeSheets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllTimeSheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAllTimeSheets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverAllTimeSheets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the NewTimeSheetEntries record collection contains a record.</description>
        <name>HaveNewTimeSheetEntries</name>
        <label>Have New Time Sheet Entries?</label>
        <locationX>50</locationX>
        <locationY>4835</locationY>
        <defaultConnector>
            <targetReference>CreateTimeSheetEntries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>DoesNotHaveNewTimeSheetEntries</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewTimeSheetEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewTimeSheetEntries</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the NewTimeSheets record collection variable contains  records.</description>
        <name>HaveNewTimeSheets</name>
        <label>Have New Time Sheets?</label>
        <locationX>248</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>CreateTimeSheets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>DoesNotHaveNewTimeSheets</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewTimeSheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewTimeSheets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllTimeSheets</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether time sheet records were found by checking if the Time Sheets from Filter Time Sheets record collection variable contains a record.</description>
        <name>HaveTimeSheet</name>
        <label>Have Time Sheet?</label>
        <locationX>424</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>SetTimeSheetVariableValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterTimeSheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterTimeSheets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverDateRange2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether time sheet entry records were found by checking if the Time Sheet Entries from Get Time Sheet Entries record collection contains a record.</description>
        <name>HaveTimeSheetEntries</name>
        <label>Have Time Sheet Entries?</label>
        <locationX>325</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>IsResourceAbsenceApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheetEntries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTimeSheetEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTimeSheetEntries</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteTimeSheetEntries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether time sheet records were found by checking if the Time Sheets from Get Time Sheets record collection contains a record.</description>
        <name>HaveTimeSheets</name>
        <label>Have Time Sheets?</label>
        <locationX>479</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>IsResourceAbsenceApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTimeSheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTimeSheets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverTimeSheets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether NextDate value is greater than the value in  EndDateFormula.</description>
        <name>IsNextDateAfterEndDate</name>
        <label>Is Next Date After End Date?</label>
        <locationX>424</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>AddNextDateToDateRange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsAfterEndDateFormulaNextDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>EndDateFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverDateRange</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the resource absence is approved by checking whether the status of the triggering record is changed and approved.</description>
        <name>IsResourceAbsenceApproved</name>
        <label>Is Resource Absence Approved?</label>
        <locationX>479</locationX>
        <locationY>1763</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsApprovedResourceAbsence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddStartDateToCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the start date, end date, or both start and end dates of the current item in the loop match that of the triggering record.</description>
        <name>WhichTimeSheetDatesMatch</name>
        <label>Which Time Sheet Dates Match?</label>
        <locationX>534</locationX>
        <locationY>4235</locationY>
        <defaultConnector>
            <targetReference>SetTimeSheetEntryVariableValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None (Default)</defaultConnectorLabel>
        <rules>
            <name>DoesMatchStartDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverAllTimeSheets.StartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartDateFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverAllTimeSheets.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EndDateFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTimeSheetEntryStartTimeVariable</targetReference>
            </connector>
            <label>Start Date</label>
        </rules>
        <rules>
            <name>DoesMatchEndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverAllTimeSheets.EndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EndDateFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverAllTimeSheets.StartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>StartDateFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTimeSheetEntryEndTime</targetReference>
            </connector>
            <label>End Date</label>
        </rules>
        <rules>
            <name>DoesMatchStartAndEndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverAllTimeSheets.StartDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>StartDateFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOverAllTimeSheets.EndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EndDateFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetTimeSheetEntryStartTimeAndEndTime</targetReference>
            </connector>
            <label>Start and End Date</label>
        </rules>
    </decisions>
    <description>DS</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the next date by adding one day to the current date of the triggering record.</description>
        <name>AddOneDayFormula</name>
        <dataType>Date</dataType>
        <expression>{!IterateOverDateRange} + 1</expression>
    </formulas>
    <formulas>
        <description>Converts the end date string output by the action into a date format.</description>
        <name>EndDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!GetEndDate.convertedDate})</expression>
    </formulas>
    <formulas>
        <description>Converts the prior end date string output by the action into a date format.</description>
        <name>PriorEndDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!GetPriorEndDate.convertedDate})</expression>
    </formulas>
    <formulas>
        <description>Converts the prior start date string output by the action into a date format.</description>
        <name>PriorStartDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!GetPriorStartDate.convertedDate})</expression>
    </formulas>
    <formulas>
        <description>Converts the start date string output by the action into a date format.</description>
        <name>StartDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!GetStartDate.convertedDate})</expression>
    </formulas>
    <interviewLabel>Create Absence Time Sheet Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Absence Time Sheet Entries</label>
    <loops>
        <description>Repeats actions for each record in the Time Sheets from Get All Time Sheets record collection variable.</description>
        <name>IterateOverAllTimeSheets</name>
        <label>Iterate Over All Time Sheets</label>
        <locationX>50</locationX>
        <locationY>3803</locationY>
        <collectionReference>GetAllTimeSheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ConvertStartDateToDateTime</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HaveNewTimeSheetEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats actions for the items in the DateRange collection.</description>
        <name>IterateOverDateRange</name>
        <label>Iterate Over Date Range</label>
        <locationX>248</locationX>
        <locationY>1979</locationY>
        <collectionReference>DateRange</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetNextDateVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterateOverDateRange2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats an action for each item in the DateRange collection.</description>
        <name>IterateOverDateRange2</name>
        <label>Iterate Over Date Range</label>
        <locationX>248</locationX>
        <locationY>2579</locationY>
        <collectionReference>DateRange</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FilterTimeSheets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HaveNewTimeSheets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Repeats an action for each record in the Time Sheets from Get Time Sheets collection.</description>
        <name>IterateOverTimeSheets</name>
        <label>Iterate Over Time Sheets</label>
        <locationX>325</locationX>
        <locationY>971</locationY>
        <collectionReference>GetTimeSheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTimeSheetIdToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetTimeSheetEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This element creates timesheet entries</description>
        <name>CreateTimeSheetEntries</name>
        <label>Create TimeSheet Entries</label>
        <locationX>182</locationX>
        <locationY>4943</locationY>
        <inputReference>NewTimeSheetEntries</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates records using the NewTimeSheets record collection variable.</description>
        <name>CreateTimeSheets</name>
        <label>Create Time Sheets</label>
        <locationX>336</locationX>
        <locationY>3395</locationY>
        <connector>
            <targetReference>GetAllTimeSheets</targetReference>
        </connector>
        <inputReference>NewTimeSheets</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Deletes the Time Sheet Entry records in the Time Sheet Entries from Get Time Sheet Entries record collection.</description>
        <name>DeleteTimeSheetEntries</name>
        <label>Delete Time Sheet Entries</label>
        <locationX>193</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>IsResourceAbsenceApproved</targetReference>
        </connector>
        <inputReference>GetTimeSheetEntries</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Gets time sheet records with a start date on or after the StartDateFormula date, an end date on or before EndDateFormula date, and service resource ID matching that of the triggering record. Stores the results in Time Sheets from Get All Time Sheets record collection variable.</description>
        <name>GetAllTimeSheets</name>
        <label>Get All Time Sheets</label>
        <locationX>248</locationX>
        <locationY>3587</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveAllTimeSheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDateFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDateFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets time sheet entry records with a start time that’s on or after the previous start time of the triggering record, an end time that’s on or before the previous end time of the triggering record, a time sheet ID in the TimeSheetIds collection, and a category of Vacation or UnpaidVacation. Stores the results in Time Sheet Entries from Get Time Sheet Entries collection.</description>
        <name>GetTimeSheetEntries</name>
        <label>Get Time Sheet Entries</label>
        <locationX>325</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheetEntries</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>StartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Start</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.End</elementReference>
            </value>
        </filters>
        <filters>
            <field>TimeSheetId</field>
            <operator>In</operator>
            <value>
                <elementReference>TimeSheetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vacation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UnpaidVacation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets time sheet records with a start date on or after the PriorStartDateFormula date, an end date on or before the PriorEndDateFormula date, and a service resource ID matching the resource ID of the triggering record. Stores the results in Time Sheets from Get Time Sheets record collection variable.</description>
        <name>GetTimeSheets</name>
        <label>Get Time Sheets</label>
        <locationX>479</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>PriorStartDateFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>PriorEndDateFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>ifstmsht__CreateAbsnTimeSheetEntry</sourceTemplate>
    <start>
        <locationX>353</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPriorStartDate</targetReference>
        </connector>
        <filterFormula>
            OR(
                AND(ISCHANGED({!$Record.ApprovalStatus}), ISPICKVAL({!$Record.ApprovalStatus}, &quot;Approved&quot;)),
                AND(ISPICKVAL({!$Record.ApprovalStatus}, &quot;Approved&quot;),
                    OR(ISCHANGED({!$Record.Type}), ISCHANGED({!$Record.Start}), ISCHANGED({!$Record.End}))),
                AND(ISCHANGED({!$Record.ApprovalStatus}),PRIORVALUE({!$Record.ApprovalStatus}) = &quot;Approved&quot;)
            )</filterFormula>
        <object>ResourceAbsence</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FilterTimeSheets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <description>Stores all the dates from start to end date.</description>
        <name>DateRange</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of time sheet entry records to be created.</description>
        <name>NewTimeSheetEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <description>Stores a collection of time sheet records to be created.</description>
        <name>NewTimeSheets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <description>Stores the date after the current date.</description>
        <name>NextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a time sheet record to be created.</description>
        <name>TimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
    <variables>
        <description>Stores a time sheet entry record to be created.</description>
        <name>TimeSheetEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <description>Stores the output from the Convert End Date to Date and Time element.</description>
        <name>TimeSheetEntryEndDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the output from the Convert Start Date to Date and Time element.</description>
        <name>TimeSheetEntryStartDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>StartDateFormula</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of a time sheet record.</description>
        <name>TimeSheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a collection of time sheet IDs.</description>
        <name>TimeSheetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
