force-app/main/default/flows/Create_Opportunity_From_Analysis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Energy_Consultative_Analysis_Handler</name>
        <label>Energy Consultative Analysis Handler</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EnergyConsultantResponseHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assing_Output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>TranslateFindingAndOpportunities2JSON.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>servicePoint</name>
            <value>
                <elementReference>ServicePoint</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EnergyConsultantResponseHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>TranslateFindingAndOpportunities2JSON</name>
        <label>TranslateFindingAndOpportunities2JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TranslateFindingAndOpportunities2JSON</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Energy_Consultative_Analysis_Handler</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:ServicePoint</name>
            <value>
                <elementReference>ServicePoint</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:FindingsAndOpportunities</name>
            <value>
                <elementReference>FindingsAndOpportunities</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TranslateFindingAndOpportunities2JSON</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assing_Output</name>
        <label>Assing Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Energy_Consultative_Analysis_Handler.createdOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Energy_Consultative_Analysis_Handler.createdCase</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>This action automatically creates a new Opportunity record in Salesforce based on the insights from the energy analysis. It takes the key findings and recommended solutions and uses them to pre-populate the Opportunity fields, saving the KAM time and ensuring the opportunity is immediately linked to the customer&apos;s needs.</description>
    <environments>Default</environments>
    <interviewLabel>Create Opportunity From Analysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity From Analysis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TranslateFindingAndOpportunities2JSON</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FindingsAndOpportunities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ServicePoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServicePoint</objectType>
    </variables>
</Flow>
