force-app/main/default/flows/Get_Billing_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Profile_Data</name>
        <label>Assign Profile Data</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>eppEnrolled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOverRecords.epp__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRecords</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Electricity</name>
        <choiceText>Electricity</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Gas</name>
        <choiceText>Gas</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <collectionProcessors>
        <name>Filer_Electric</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filer Electric</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNextValueToReference>currentItem_Filer_Electric</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetBillingRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filer_Electric.bill_division__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>EL</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LoopOverRecords</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Gas</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Gas</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Filter_Gas</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetBillingRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Gas.bill_division__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>GS</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Billing_Data</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Get Billing Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Billing Data</label>
    <loops>
        <name>LoopOverRecords</name>
        <label>LoopOverRecords</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Filer_Electric</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Profile_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Gas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getaccount</name>
        <label>getaccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBillingRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBillingRecords</name>
        <label>GetBillingRecords</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filer_Electric</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>contract_account_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getaccount.AccountNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EU_Billing_Data__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>invoice_date__c</queriedFields>
        <queriedFields>auto_payment__c</queriedFields>
        <queriedFields>bill_amount__c</queriedFields>
        <queriedFields>bill_usage__c</queriedFields>
        <queriedFields>epp__c</queriedFields>
        <queriedFields>ev_eligible__c</queriedFields>
        <queriedFields>low_income__c</queriedFields>
        <queriedFields>owner__c</queriedFields>
        <queriedFields>bill_division__c</queriedFields>
        <sortField>invoice_date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Billing_Data</name>
        <label>Billing Data</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>space</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BillingDataElectric</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>EU_Billing_Data__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Billing Data Electricity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filer_Electric</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;invoice_date__c&quot;,&quot;guid&quot;:&quot;column-644b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;invoice_date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;bill_amount__c&quot;,&quot;guid&quot;:&quot;column-1e78&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;bill_amount&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;bill_usage__c&quot;,&quot;guid&quot;:&quot;column-a15b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;bill_usage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;auto_payment__c&quot;,&quot;guid&quot;:&quot;column-b3dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;auto_payment&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;epp__c&quot;,&quot;guid&quot;:&quot;column-f054&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;epp&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ev_eligible__c&quot;,&quot;guid&quot;:&quot;column-22e7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;ev_eligible&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;low_income__c&quot;,&quot;guid&quot;:&quot;column-5355&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;low_income&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;owner__c&quot;,&quot;guid&quot;:&quot;column-a63e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;owner&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BillingDataGas</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>EU_Billing_Data__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Billing Data Gas</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_Gas</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;invoice_date__c&quot;,&quot;guid&quot;:&quot;column-d14f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;invoice_date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;bill_amount__c&quot;,&quot;guid&quot;:&quot;column-d669&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;bill_amount&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;bill_usage__c&quot;,&quot;guid&quot;:&quot;column-c23d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;bill_usage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;auto_payment__c&quot;,&quot;guid&quot;:&quot;column-92d6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;auto_payment&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;epp__c&quot;,&quot;guid&quot;:&quot;column-30f0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;epp&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ev_eligible__c&quot;,&quot;guid&quot;:&quot;column-bc43&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;ev_eligible&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;low_income__c&quot;,&quot;guid&quot;:&quot;column-8dda&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;low_income&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;owner__c&quot;,&quot;guid&quot;:&quot;column-8f0c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;owner&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getaccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filer_Electric</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EU_Billing_Data__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Gas</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EU_Billing_Data__c</objectType>
    </variables>
    <variables>
        <name>eppEnrolled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EUBillingData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EU_Billing_Data__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
