force-app/main/default/flows/Get_Best_Tariffs_Override.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the EU Pricing Executor action to calculate and get the most competitively priced tariffs for the products in the request.</description>
        <name>ComputePricing</name>
        <label>Compute Pricing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>eUPricingExecutor</actionName>
        <actionType>eUPricingExecutor</actionType>
        <faultConnector>
            <targetReference>SetComputePricingErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>consumptionPeriod</name>
            <value>
                <elementReference>consumptionPeriod</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberOfPlans</name>
            <value>
                <elementReference>RecommendedPlansCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priceBook</name>
            <value>
                <elementReference>GetPriceBook.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productConfigDt</name>
            <value>
                <elementReference>GetDecisionTable.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>weightedAvgAttribute</name>
            <value>
                <elementReference>WeightedAvgAttribute</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eUPricingProcedure</name>
            <value>
                <elementReference>GetPricingProcedure.ExpressionSetDefinitionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesTxnContextDef</name>
            <value>
                <elementReference>ContextDefinitionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesTxnCxtMapping</name>
            <value>
                <elementReference>ContextMappingId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productDetails</name>
            <value>
                <elementReference>BulkProductDetailsOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consumptionValue</name>
            <value>
                <elementReference>consumptionValueInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceTypeAttributes</name>
            <value>
                <elementReference>serviceTypeProductAttributeList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>eUPricingExecutor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>productPricingDetails</assignToReference>
            <name>productPricingDetails</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to get the details for multiple products.</description>
        <name>GetMultipleProductDetails</name>
        <label>Get Multiple Product Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>getMultipleProductDetails</actionName>
        <actionType>getMultipleProductDetails</actionType>
        <connector>
            <targetReference>SetProductCounts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetGetMultipleProductDetailsErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>priceBookId</name>
            <value>
                <elementReference>GetPriceBook.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableQualificationProcedure</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currencyCode</name>
            <value>
                <elementReference>GetPriceBook.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productDataInputs</name>
            <value>
                <elementReference>TransformProductDetailsForBulkInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getMultipleProductDetails</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>BulkProductDetailsOutput</assignToReference>
            <name>productDetailsOutputRepresentation</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that gets the list of products filtered by a category ID.</description>
        <name>GetProductsByCategory</name>
        <label>Get Products By Category</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>getProducts</actionName>
        <actionType>getProducts</actionType>
        <connector>
            <targetReference>FilterActiveProducts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetGetProductByCategoryErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>categoryId</name>
            <value>
                <elementReference>categoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enableQualification</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>enablePricing</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>getProducts</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ProductList</assignToReference>
            <name>results</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the errorMessage variable to the fault message from the Compute Pricing action.</description>
        <name>SetComputePricingErrorMessage</name>
        <label>Set Compute Pricing Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the fault message from the Get Multiple Product Details action.</description>
        <name>SetGetMultipleProductDetailsErrorMessage</name>
        <label>Set Get Multiple Product Details Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the fault message from the Get Product By Category action.</description>
        <name>SetGetProductByCategoryErrorMessage</name>
        <label>Set Get Product By Category Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the NoActivePricingProcedureFoundErrMsg.</description>
        <name>SetNoActivePricingProcedureFoundErrorMessage</name>
        <label>Set No Active Pricing Procedure Found Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoActivePricingProcedureFoundErrMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the NoDecisionTableFoundErrMsg.</description>
        <name>SetNoDecisionTableFoundErrorMessage</name>
        <label>Set No Decision Table Found Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoDecisionTableFoundErrMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the NoActivePriceBookFoundErrMsg.</description>
        <name>SetNoPriceBookFoundErrorMessage</name>
        <label>Set No Price Book Found Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoActivePriceBookFoundErrMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the NoPricingProcedureFoundErrMsg.</description>
        <name>SetNoPricingProcedureFoundErrorMessage</name>
        <label>Set No Pricing Procedure Found Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoPricingProcedureFoundErrMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the NoProductFoundErrorMsg.</description>
        <name>SetNoProductFoundErrorMessage</name>
        <label>Set No Product Found Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoProductFoundErrorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the priceBookId variable to the ID of the record in the Price Book from GetPriceBook record variable.</description>
        <name>SetPriceBookId</name>
        <label>Set Price Book ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>priceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPriceBook.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProductsByCategory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the initial count for products from the Get Products By Category and Get Multiple Product Details actions.</description>
        <name>SetProductCounts</name>
        <label>Set Product Counts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetProductsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FilterActiveProducts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetMultipleProductDetailsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>BulkProductDetailsOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaveDetailsForAllProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the errorMessage variable to the ProductDetailsMissingErrorMsg.</description>
        <name>SetProductDetailsMissingErrorMessage</name>
        <label>Set Product Details Missing Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductDetailsMissingErrorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <description>Filters active products from the ProductList collection. Stores the filtered collection in the ActiveProducts collection.</description>
        <name>FilterActiveProducts</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Active Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterActiveProducts</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ProductList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterActiveProducts.isActive</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>HaveProducts</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>Stores the context definition ID used by the EU Pricing Executor action to hydrate sales transaction data.</description>
        <name>ContextDefinitionId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>EUSalesTransactionCD</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the context mapping ID used by the EU Pricing Executor action to hydrate sales transaction data.</description>
        <name>ContextMappingId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesTransaction</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the error message for when an active price book isn&apos;t found for the specified name.</description>
        <name>NoActivePriceBookFoundErrMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Price Book found for the given name</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the error message for when an active pricing procedure isn&apos;t found for the specified API name.</description>
        <name>NoActivePricingProcedureFoundErrMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No active Pricing Procedure found with the given name</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the error message for when a decision table isn&apos;t found for the specified API name.</description>
        <name>NoDecisionTableFoundErrMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Decision Table exists with the given name</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the error message when a pricing procedure isn&apos;t found for the specified API name.</description>
        <name>NoPricingProcedureFoundErrMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Pricing Procedure found with the given name</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the error message for when a product isn&apos;t found for the specified category.</description>
        <name>NoProductFoundErrorMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No product exists for the given category</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the API name of the price book used to calculate product prices.</description>
        <name>PriceBookName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard Price Book</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the API name of the pricing procedure used by the EU Pricing Executor action to calculate product prices.</description>
        <name>PricingProcedureApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UtilitiesSalesDefaultPricingProcedure</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the API name of the utilities tariff comparison product config decision table.</description>
        <name>ProductConfigDecisionTableApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>UtilitiesTariffComparisonProductConfig</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the error message for when product details are missing.</description>
        <name>ProductDetailsMissingErrorMsg</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Product details missing for the given category.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the number of recommended plans to show to the user.</description>
        <name>RecommendedPlansCount</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Stores the name of the weighted average attribute used by the EU Pricing Executor action to compute product consumption details.</description>
        <name>WeightedAvgAttribute</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Weighted_Distribution</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether an active pricing procedure was found by checking if the Active Pricing Procedure Version from GetActivePricingProcedureVersion record variable has a value.</description>
        <name>HaveActivePricingProcedure</name>
        <label>Have Active Pricing Procedure?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetDecisionTable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoActivePricingProcedure</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetActivePricingProcedureVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetActivePricingProcedureVersion.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNoActivePricingProcedureFoundErrorMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a decision table was found by checking if the Decision Table from GetDecisionTable record variable has a value.</description>
        <name>HaveDecisionTable</name>
        <label>Have Decision Table?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ComputePricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoDecisionTable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetDecisionTable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDecisionTable.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNoDecisionTableFoundErrorMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the number of products from GetProductsCount equals the number of products from GetMultipleProductDetailsCount.</description>
        <name>HaveDetailsForAllProducts</name>
        <label>Have Details for All Products?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetPricingProcedure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ProductDetailsMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMultipleProductDetailsCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetProductsCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetProductDetailsMissingErrorMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a price book was found by checking if the Price Book from GetPriceBook record variable has a value.</description>
        <name>HavePriceBook</name>
        <label>Have Price Book?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetPriceBookId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoActivePriceBook</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetPriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPriceBook.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNoPriceBookFoundErrorMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a pricing procedure was found by checking if the Pricing Procedure from GetPricingProcedure record variable has a value.</description>
        <name>HavePricingProcedure</name>
        <label>Have Pricing Procedure?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GetActivePricingProcedureVersion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoPricingProcedure</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetPricingProcedure</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPricingProcedure.ExpressionSetDefinitionId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNoPricingProcedureFoundErrorMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether products were found by checking if the ActiveProducts collection contains any records.</description>
        <name>HaveProducts</name>
        <label>Have Products?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>TransformProductDetailsForBulkInput</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoProducts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FilterActiveProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterActiveProducts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNoProductFoundErrorMessage</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>10/03: Debarshi</description>
    <environments>Default</environments>
    <interviewLabel>Get Best Tariffs Override {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Best Tariffs Override</label>
    <overriddenFlow>eutariffcomparison__GetBestTariffs</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the active pricing procedure version record with an expression set ID that matches the ID from the Pricing Procedure from GetPricingProcedure record variable. Stores the result in the Active Pricing Procedure Version from GetActivePricingProcedureVersion record variable.</description>
        <name>GetActivePricingProcedureVersion</name>
        <label>Get Active Pricing Procedure Version</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveActivePricingProcedure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExpressionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPricingProcedure.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExpressionSetVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the decision table record with an API name that matches the name in the ProductConfigDecisionTableApiName variable. Stores the result in the Decision Table from GetDecisionTable record variable.</description>
        <name>GetDecisionTable</name>
        <label>Get Decision Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveDecisionTable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductConfigDecisionTableApiName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DecisionTable</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the price book record with a name that matches the name in the PriceBookName variable. Stores the result in the Price Book from GetPriceBook record variable.</description>
        <name>GetPriceBook</name>
        <label>Get Price Book</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HavePriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the pricing procedure record with an API name that matches the name in the PricingProcedureApiName variable. Stores the result in the Pricing Procedure from GetPricingProcedure record variable.</description>
        <name>GetPricingProcedure</name>
        <label>Get Pricing Procedure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HavePricingProcedure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApiName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricingProcedureApiName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ExpressionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPriceBook</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Maps fields from the active products collection to provide as input for the Get Multiple Product Details action.</description>
        <name>TransformProductDetailsForBulkInput</name>
        <label>Transform Product Details for Bulk Input</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>runtime_industries_cpq__BulkProductDetailsInputBodyList</apexClass>
        <connector>
            <targetReference>GetMultipleProductDetails</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>productData[$EachItem].productId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>FilterActiveProducts[$EachItem].id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Stores the product details returned from the Get Multiple Product Details action.</description>
        <name>BulkProductDetailsOutput</name>
        <apexClass>runtime_industries_cpq__BulkProductDetailsRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the product category.</description>
        <name>categoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the consumption period (monthly or annual) used by the EU Pricing Executor action to calculate product prices.</description>
        <name>consumptionPeriod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the consumption value information for each selected service type.</description>
        <name>consumptionValueInfoList</name>
        <apexClass>eutariffcomparison__ConsumptionValueInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Current item of FilterActiveProducts collection</description>
        <name>currentItem_FilterActiveProducts</name>
        <apexClass>runtime_industries_cpq__ProductListRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the error message returned by an action.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the number of products returned by the Get Multiple Product Details action.</description>
        <name>GetMultipleProductDetailsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the number of products returned by the Get Products By Category action.</description>
        <name>GetProductsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the price book used to calculate product prices.</description>
        <name>priceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the list of products returned by the Get Products By Category action.</description>
        <name>ProductList</name>
        <apexClass>runtime_industries_cpq__ProductListRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the product pricing information.</description>
        <name>productPricingDetails</name>
        <apexClass>eutariffcomparison__ProductPricingDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the product attributes for each service type.</description>
        <name>serviceTypeProductAttributeList</name>
        <apexClass>eutariffcomparison__ServiceTypeProductAttribute</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
