force-app/main/default/flows/Parse_Visit_Notes_to_Evidence_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Invokes the Parse Visit Notes to Evidence Apex Action</description>
    <interviewLabel>Parse Visit Notes to Evidence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parse Visit Notes to Evidence Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parse_Visit_Notes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <actionCalls>
        <name>Parse_Visit_Notes</name>
        <label>Parse Visit Notes</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>ParseVisitNotesToEvidenceAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visitId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
    </actionCalls>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(8, 107, 45); font-size: 14px;&quot;&gt;✓ Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The visit notes have been parsed and the evidence fields have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
