force-app/main/default/flows/Reject_Time_Sheet_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the recordId value to the ids collection.</description>
        <name>AddRecordIdToCollection</name>
        <label>Add Record ID To Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRecordIdCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the RecordIdCount to the number of records in the ids collection variable.</description>
        <name>SetRecordIdCount</name>
        <label>Set Record ID Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RecordIdCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTimeSheetEntries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordCountLessThanOrEqualToMaximum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the RejectedRecordCount to the number of records in the Time Sheet Entries from Get Time Sheet Entries record collection variable.</description>
        <name>SetRejectedRecordCount</name>
        <label>Set Rejected Record Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>RejectedRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetTimeSheetEntries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTimeSheetEntryItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds the time sheet ID of the current record in the loop to the TimeSheetIds collection variable and the PreviousTimesheetId variable.</description>
        <name>SetTimesheetIdVariables</name>
        <label>Set Timesheet ID Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverTimeSheetEntries.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreviousTimesheetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverTimeSheetEntries.TimeSheetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverTimeSheetEntries</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the maximum number of time sheet record IDs that can be rejected.</description>
        <name>MaximumRecordIdCount</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that is displayed to the flow user when no records are found.</description>
        <name>NoRecordFoundText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>We couldn’t find any time sheet entry records. Ask your admin for help.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that’s shown when a time sheet entry record is rejected.</description>
        <name>TimeSheetEntryRejectedMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The time sheet entry was rejected.</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the text that’s shown when time sheet entry records are rejected.</description>
        <name>TimeSheetsEntriesRejectedMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The time sheet entry records were rejected.</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determines whether a Record ID was passed into the flow by checking if the recordId variable contains a value.</description>
        <name>HaveRecordId</name>
        <label>Have Record ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetRecordIdCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRecordIdToCollection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether a Record ID was passed into the flow by checking if the recordId variable contains a value.</description>
        <name>HaveRecordIdDisplayRejection</name>
        <label>Have Record ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScrnDplyTimeSheetEntriesRejectedMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasRecordIdDisplayRejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScrnDisplayTimeSheetEntryRejectedMessage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether time sheet entry records were found by checking if the Time Sheet Entries from Get Time Sheet Entries record collection contains a record.</description>
        <name>HaveTimeSheetEntries</name>
        <label>Have Time Sheets Entries?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayErrorNoRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasTimeSheetEntries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTimeSheetEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTimeSheetEntries</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSelectRejectReason</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the time sheet ID of the current record in the loop is the same as the previous one in the loop by checking if PreviousTimesheetId matches the timesheet ID of the current record on the loop.</description>
        <name>IsTimeSheetIdEqualToPreviousTimeSheetId</name>
        <label>Is Time Sheet ID Equal to Previous Time Sheet ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetTimesheetIdVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsEqualToPreviousTimeSheetId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOverTimeSheetEntries.TimeSheetId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreviousTimesheetId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverTimeSheetEntries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the record count exceeds the allowed maximum by checking whether RecordIdCount is less than or equal to MaximumRecordIdCount.</description>
        <name>RecordCountLessThanOrEqualToMaximum</name>
        <label>Record Count Less Than or Equal to Maximum?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ScreenDisplayErrorMaxRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>DoesHaveRecCountLessThanOrEqualToMaximum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIdCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaximumRecordIdCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTimeSheetEntries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Reject Time Sheet Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reject Time Sheet Entries</label>
    <loops>
        <description>Repeats actions for each record in the Time Sheet Entries from Get Time Sheet Entries collection.</description>
        <name>IterateOverTimeSheetEntries</name>
        <label>Iterate Over Time Sheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetTimeSheetEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsTimeSheetIdEqualToPreviousTimeSheetId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTimeSheets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets time sheet entry records with an ID in the ids collection variable. Stores the results in Time Sheet Entries from Get Time Sheet Entries collection.</description>
        <name>GetTimeSheetEntries</name>
        <label>Get Time Sheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheetEntries</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>Rolls back the current record update and reverts all previous record changes after flow execution.</description>
        <name>RollbackRecordChanges</name>
        <label>Rollback Record Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScrnDplyErrorUpdtTimeSheetEntryItems</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Updates the time sheet entry records with IDs that match those in the ids collection, setting the status comment to the RejectReasonText tex value, and the status to Rejected.</description>
        <name>UpdateTimeSheetEntries</name>
        <label>Update Time Sheet Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetRejectedRecordCount</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment</field>
            <value>
                <elementReference>RejectReasonText</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates time sheet entry item records with a time sheet entry ID that match those in the ids collection, setting the status comment to the RejectReasonText value, and the status to Rejected.</description>
        <name>UpdateTimeSheetEntryItems</name>
        <label>Update Time Sheet Entry Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IterateOverTimeSheetEntries</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeSheetEntryId</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment</field>
            <value>
                <elementReference>RejectReasonText</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntryItem</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the time sheet records with IDs that match those in the TimeSheetIds collection, setting the status comment to the RejectReasonText value, and the status to Rejected.</description>
        <name>UpdateTimeSheets</name>
        <label>Update Time Sheets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRecordIdDisplayRejection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RollbackRecordChanges</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>TimeSheetIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusComment</field>
            <value>
                <elementReference>RejectReasonText</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheet</object>
    </recordUpdates>
    <screens>
        <description>Displays an error to the flow user when the number of records to be rejected is greater than the allowed maximum.</description>
        <name>ScreenDisplayErrorMaxRecords</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMaximumRecordsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;The number of selected time sheet entry records exceeds the allowed maximum of {!MaximumRecordIdCount}.Select less records and try again.&lt;/strong&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: &amp;quot;Arial Narrow&amp;quot;, sans-serif; font-size: 12pt;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when no time sheet entry records are found.</description>
        <name>ScreenDisplayErrorNoRecords</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorNoRecordsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!&lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;NoRecordFoundText&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to enter a reason for rejecting the time sheet entries.</description>
        <name>ScreenSelectRejectReason</name>
        <label>Select Reject Reason</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateTimeSheetEntries</targetReference>
        </connector>
        <fields>
            <name>RejectReasonText</name>
            <dataType>String</dataType>
            <fieldText>Reason for Rejecting Time Sheet Entries</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the flow user when a single time sheet entry record is rejected.</description>
        <name>ScrnDisplayTimeSheetEntryRejectedMessage</name>
        <label>Display Time Sheet Entry Rejected Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TimeSheetEntryRejectedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!TimeSheetEntryRejectedMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays an error to the flow user when there’s an error updating the time sheet entry item records.</description>
        <name>ScrnDplyErrorUpdtTimeSheetEntryItems</name>
        <label>Display Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorUpdtTimeSheetEntryItemsDplyTxt</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;We couldn’t update the time sheet entry item records. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays a message to the flow user when time sheet entry records are rejected.</description>
        <name>ScrnDplyTimeSheetEntriesRejectedMessage</name>
        <label>Display Time Sheet Entries Rejected Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TimeSheetEntriesRejectedDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!TimeSheetsEntriesRejectedMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿Number of timesheet entries rejected:{!RejectedRecordCount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>ifstmsht__RejectTimeSheetEntries</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>HaveRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a collection of time sheet entry record IDs.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the time sheet ID of the previous time sheet entry record iterated through in the loop.</description>
        <name>PreviousTimesheetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the time sheet entry record that’s passed into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the number of records in the ids collection variable.</description>
        <name>RecordIdCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores the total count of rejected timesheet entry records.</description>
        <name>RejectedRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Stores a collection of time sheet IDs.</description>
        <name>TimeSheetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
