force-app/main/default/flows/Remove_Absence_Time_Sheet_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Converts the end date string output by the action into a date format.</description>
        <name>GetEndDate</name>
        <label>Get End Date</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <actionName>convertDateTimeToDate</actionName>
        <actionType>convertDateTimeToDate</actionType>
        <connector>
            <targetReference>GetTimeSheets</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTime</name>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateTimeToDate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Converts the start date string output by the action into a date format.</description>
        <name>GetStartDate</name>
        <label>Get Start Date</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <actionName>convertDateTimeToDate</actionName>
        <actionType>convertDateTimeToDate</actionType>
        <connector>
            <targetReference>GetEndDate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>dateTime</name>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userCtx</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Resource.RelatedRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>convertDateTimeToDate</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adds the ID from the current item in the loop to TimeSheetIds.</description>
        <name>AddTimeSheetIDToCollection</name>
        <label>Add Time Sheet ID to Collection</label>
        <locationX>270</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>TimeSheetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOverTimeSheets.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverTimeSheets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether time sheet records were found by checking if the Time Sheets from GetTimeSheets collection variable has records.</description>
        <name>HaveTimeSheets</name>
        <label>Have Time Sheets?</label>
        <locationX>380</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>YesHaveTimeSheets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTimeSheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTimeSheets</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverTimeSheets</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether time sheet entries were found by checking if the Time Sheet Entries from GetTimeSheetEntries collection variable has records.</description>
        <name>HaveTimeSheetsEntries</name>
        <label>Have Time Sheet Entries?</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>YesHaveTimeSheetsEntries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTimeSheetEntries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTimeSheetEntries</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteTimeSheetEntries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>DS</description>
    <environments>Default</environments>
    <formulas>
        <description>Converts the end date string output by the action into a date format.</description>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!GetEndDate.convertedDate})</expression>
    </formulas>
    <formulas>
        <description>Converts the start date string output by the action into a date format.</description>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!GetStartDate.convertedDate})</expression>
    </formulas>
    <interviewLabel>Remove Absence Time Sheet Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Absence Time Sheet Entries</label>
    <loops>
        <description>Repeats an action for each record in the Time Sheets from GetTimeSheets collection variable.</description>
        <name>IterateOverTimeSheets</name>
        <label>Iterate Over Time Sheets</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <collectionReference>GetTimeSheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddTimeSheetIDToCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetTimeSheetEntries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Deletes the time sheet entry records stored in Time Sheet Entries from GetTimeSheetEntries record collection.</description>
        <name>DeleteTimeSheetEntries</name>
        <label>Delete Time Sheet Entries</label>
        <locationX>50</locationX>
        <locationY>1235</locationY>
        <inputReference>GetTimeSheetEntries</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Gets time sheet entry records with a start time greater than or equal to the record that triggered the flow, an end time less than or equal to that of the triggering record, a time sheet ID in the TimeSheetIds variable, and with a category of Vacation. Stores the results in the Time Sheet Entries from GetTimeSheetEntries record collection variable.</description>
        <name>GetTimeSheetEntries</name>
        <label>Get Time Sheet Entries</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheetsEntries</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>StartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Start</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.End</elementReference>
            </value>
        </filters>
        <filters>
            <field>TimeSheetId</field>
            <operator>In</operator>
            <value>
                <elementReference>TimeSheetIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vacation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UnpaidVacation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheetEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets time sheet records with a service resource ID matching the resource ID of the record that triggered the flow, a start date greater than or equal to the triggering record, and an end date less than or equal to the triggering record. Stores the results in the Time Sheets from GetTimeSheets record collection variable.</description>
        <name>GetTimeSheets</name>
        <label>Get Time Sheets</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveTimeSheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resource.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TimeSheet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>ifstmsht__RemoveAbsnTimeSheetEntry</sourceTemplate>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetStartDate</targetReference>
        </connector>
        <object>ResourceAbsence</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the time sheet IDs.</description>
        <name>TimeSheetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
