force-app/main/default/flows/Scan_Handwritten_Visit_Notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <description>Mobile-friendly handwritten notes scanner - upload photo, transcribe with Einstein, save to Visit Notes Dictation</description>
    <interviewLabel>Scan Handwritten Visit Notes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scan Handwritten Visit Notes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <actionCalls>
        <name>Transcribe_Note</name>
        <label>Transcribe Note</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>TranscribeHandwrittenNoteAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Transcription_Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>UploadedFileId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>Append_Transcription</name>
        <label>Append Transcription</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>UpdatedNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppendedNotesFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Visit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Transcription_Success</name>
        <label>Check Transcription Success</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transcribe_Note.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Transcription</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>AppendedNotesFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!Get_Visit.Visit_Notes_Dictation__c}),
  {!Transcribe_Note.transcription},
  {!Get_Visit.Visit_Notes_Dictation__c} &amp; BR() &amp; BR() &amp; &quot;---&quot; &amp; BR() &amp; BR() &amp; {!Transcribe_Note.transcription}
)</expression>
    </formulas>
    <recordLookups>
        <name>Get_Visit</name>
        <label>Get Visit</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transcribe_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Visit</name>
        <label>Update Visit</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Visit_Notes_Dictation__c</field>
            <value>
                <elementReference>UpdatedNotes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>Get_Visit</inputReference>
    </recordUpdates>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 128, 0);&quot;&gt;✓ Handwritten Notes Transcribed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your handwritten notes have been transcribed and saved to Visit Notes Dictation. Refresh the page to see the update.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transcription_Result_Screen</name>
        <label>Transcription Result Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Transcription_Success</targetReference>
        </connector>
        <fields>
            <name>TranscriptionDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Transcribed Text:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Transcribe_Note.transcription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ReviewMessage</name>
            <fieldText>&lt;p&gt;Review the transcription above. Click &lt;b&gt;Next&lt;/b&gt; to save it to Visit Notes Dictation, or &lt;b&gt;Previous&lt;/b&gt; to upload a different photo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Photo_Screen</name>
        <label>Upload Photo Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Visit</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Scan Handwritten Visit Notes&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Upload a photo of your handwritten visit notes. Einstein will transcribe the text and save it to the Visit Notes Dictation field.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Photo of Handwritten Notes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png,.jpg,.jpeg</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFileId</assignToReference>
                <name>contentVersionId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Upload_Photo_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
