force-app/main/default/flows/SDO_Service_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Auto_Response</name>
        <label>Send Auto-Response</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <actionName>Case.SDO_Service_Case_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SDO_Service_Case_Auto_Response</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Case_Related_to_a_Messaging_Session</name>
        <label>Case Related to a Messaging Session?</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Messaging Session Found</defaultConnectorLabel>
        <rules>
            <name>Messaging_Session_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messagingSession</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_Work</targetReference>
            </connector>
            <label>Messaging Session Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the channel the case was created on, and if appropriate let&apos;s send them an email auto-response (ensuring we have an email address to use for that response)</description>
        <name>Check_Channel</name>
        <label>Check Channel</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>No Auto-Response</defaultConnectorLabel>
        <rules>
            <name>Channel_for_Auto_Response</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Community</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Website</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Auto_Response</targetReference>
            </connector>
            <label>Channel for Auto-Response</label>
        </rules>
    </decisions>
    <decisions>
        <description>used to evaluate the custom setting record to see if there is a custom setting record activated before moving forward</description>
        <name>Evaluate_process_automation_settings</name>
        <label>Evaluate process automation settings</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Process_Automation_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.xDO_Tool_ProcessAutomationSwitch__c.xDO_Tool_ProcessAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.analyticsdemo_batch_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Entitlement_on_Case</targetReference>
            </connector>
            <label>Fire Process Automation = True</label>
        </rules>
    </decisions>
    <decisions>
        <description>used to evaluate the custom setting record to see if there is a custom setting record activated before moving forward</description>
        <name>Evaluate_process_automation_settings_0</name>
        <label>Evaluate process automation settings</label>
        <locationX>1172</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fire_Process_Automation_True_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.xDO_Tool_ProcessAutomationSwitch__c.xDO_Tool_ProcessAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.analyticsdemo_batch_id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Einstein_Article_Recommendations</targetReference>
            </connector>
            <label>Fire Process Automation</label>
        </rules>
    </decisions>
    <description>Runs when a new case is created to initialize as appropriate</description>
    <environments>Default</environments>
    <interviewLabel>SDO_Service_Case_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Case - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Messaging_Sessions_Related_to_Case</name>
        <label>Check Messaging Sessions Related to Case</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Related_to_a_Messaging_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputReference>messagingSession</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_Field</name>
        <label>Update Email Field</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Check_Channel</targetReference>
        </connector>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_process_automation_settings</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_process_automation_settings_0</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Route_Work</name>
        <label>Route Work</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <flowName>SDO_Service_Case_Routing</flowName>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Einstein_Article_Recommendations</name>
        <label>Run Einstein Article Recommendations</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Email_Field</targetReference>
        </connector>
        <flowName>SDO_Service_Demo_Einstein_Article_Recommendations</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Einstein_Case_Classification</name>
        <label>Run Einstein Case Classification</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Set_Einstein_Discovery_Fields</targetReference>
        </connector>
        <flowName>SDO_Service_Einstein_Case_Classification_Demo</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Sets the entitlement on the Case so SLAs are set</description>
        <name>Set_Default_Entitlement_on_Case</name>
        <label>Set Default Entitlement on Case</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Run_Einstein_Case_Classification</targetReference>
        </connector>
        <flowName>SDO_Service_Set_Default_Entitlement_on_Case</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Einstein_Discovery_Fields</name>
        <label>Set Einstein Discovery Fields</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Check_Messaging_Sessions_Related_to_Case</targetReference>
        </connector>
        <flowName>SDO_Service_Case_SetCasePrediction</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>messagingSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>SelectedQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
