force-app/main/default/flows/SDO_SFS_Attach_Forms_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Work_Type</name>
        <label>Check Work Type</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkType_is_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attach_Form_Property_Inspection</targetReference>
            </connector>
            <label>WorkType is Inspection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SDO SFS Attach Forms On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS Attach Forms On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Attach_Form_Property_Inspection</name>
        <label>Attach Form -Property Inspection</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ActionDefinition</field>
            <value>
                <stringValue>SDO_Forms_Property_Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionType</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExecutionOrder</field>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Property Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCategory</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>DynamicDataCapture</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Attach_Form_Safety_Assessment</name>
        <label>Attach Form -Safety Assessment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Attach_Form_Vehicle_Inspection</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionDefinition</field>
            <value>
                <stringValue>SDO_Forms_Job_Safety_Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionType</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExecutionOrder</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Safety Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCategory</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>DynamicDataCapture</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Attach_Form_Vehicle_Inspection</name>
        <label>Attach Form -Vehicle Inspection</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_Work_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionDefinition</field>
            <value>
                <stringValue>SDO_Forms_Vehicle_Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionType</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExecutionOrder</field>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Vehicle Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StatusCategory</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>DynamicDataCapture</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Attach_Form_Safety_Assessment</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
