force-app/main/default/flows/SDO_Service_MIAW_Omni_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Load_Contact_by_Phone_Number</name>
        <label>Load Contact by Phone Number</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <actionName>findMatchingIndividuals</actionName>
        <actionType>findMatchingIndividuals</actionType>
        <connector>
            <targetReference>Loop_Search_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchTerm</name>
            <value>
                <stringValue>{!phone}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchFields</name>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchObject</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <nameSegment>findMatchingIndividuals</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>622</locationX>
        <locationY>1832</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
            <value>
                <elementReference>Screen_Pop.routingInteractionInfoList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Ka000000u6WMKAY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Screen_Pop</name>
        <label>Screen Pop</label>
        <locationX>622</locationX>
        <locationY>1616</locationY>
        <actionName>addScreenPop</actionName>
        <actionType>addScreenPop</actionType>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>screenPop</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;cd675893&quot;,&quot;targetObjectId&quot;:&quot;{!Load_Messaging_User.ContactId}&quot;,&quot;isFocused&quot;:false},{&quot;id&quot;:&quot;9a0b6b00&quot;,&quot;targetObjectId&quot;:&quot;{!input_record.CaseId}&quot;,&quot;isFocused&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addScreenPop</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Pre_Chat_Contact</name>
        <label>Assign Pre-Chat Contact</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Load_Messaging_User.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Load_Messaging_User.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Phone_Number</name>
        <label>Set Phone Number</label>
        <locationX>886</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Load_Messaging_User.MessagingPlatformKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Load_Contact_by_Phone_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Found_Contact</name>
        <label>Check Found Contact</label>
        <locationX>886</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>New_or_Existing_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Pre_Chat_Contact</targetReference>
            </connector>
            <label>Found Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Known_Contact</name>
        <label>Known Contact?</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>New_or_Existing_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Info</defaultConnectorLabel>
        <rules>
            <name>Messaging_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Load_Messaging_User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_MessagingEndUser</targetReference>
            </connector>
            <label>Messaging Contact</label>
        </rules>
        <rules>
            <name>Pre_Chat_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.ChannelType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EmbeddedMessaging</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Load_Pre_Chat_Contact</targetReference>
            </connector>
            <label>Pre-Chat Contact</label>
        </rules>
        <rules>
            <name>New_SMS_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.ChannelType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone_Number</targetReference>
            </connector>
            <label>New SMS Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Case</name>
        <label>New or Existing Case?</label>
        <locationX>622</locationX>
        <locationY>1208</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Case</defaultConnectorLabel>
        <rules>
            <name>Existing_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Pop</targetReference>
            </connector>
            <label>Existing Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_Pre_Chat_Contact</name>
        <label>New or Existing Pre-Chat Contact?</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_New_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Contact</defaultConnectorLabel>
        <rules>
            <name>Existing_Pre_Chat_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pre_Chat_Contact</targetReference>
            </connector>
            <label>Existing Pre-Chat Contact</label>
        </rules>
    </decisions>
    <description>Runs when Enhanced Messaging Sessions are created based on Messaging Settings channel configuration.</description>
    <environments>Default</environments>
    <formulas>
        <name>caseOrigin</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!input_record.ChannelType}, &quot;Text&quot;) , &quot;SMS&quot;, &quot;Chat&quot;)</expression>
    </formulas>
    <formulas>
        <name>caseSubjectToUse</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!subject}), &quot;Conversation with &quot; + {!Load_Messaging_User.Name} , {!subject})</expression>
    </formulas>
    <interviewLabel>SDO Service - MIAW Omni-Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - MIAW Omni-Flow</label>
    <loops>
        <name>Loop_Search_Results</name>
        <label>Loop Search Results</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <collectionReference>Load_Contact_by_Phone_Number.contactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Load_Found_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Found_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>710</locationX>
        <locationY>1316</locationY>
        <assignRecordIdToReference>input_record.CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Case_on_Messaging_Session</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Load_Messaging_User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>caseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubjectToUse</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Load_New_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>622</locationX>
        <locationY>1724</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Found_Contact</name>
        <label>Load Found Contact</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Search_Results</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Search_Results</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Load_Messaging_User</name>
        <label>Load Messaging User</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Known_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_MessagingEndUser</name>
        <label>Load MessagingEndUser</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Existing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Load_Messaging_User.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Load_New_Contact</name>
        <label>Load New Contact</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pre_Chat_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Contact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Load_Pre_Chat_Contact</name>
        <label>Load Pre-Chat Contact</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_or_Existing_Pre_Chat_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_on_Messaging_Session</name>
        <label>Set Case on Messaging Session</label>
        <locationX>710</locationX>
        <locationY>1424</locationY>
        <connector>
            <targetReference>Screen_Pop</targetReference>
        </connector>
        <inputReference>input_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User</name>
        <label>Update Messaging User</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>New_or_Existing_Case</targetReference>
        </connector>
        <inputReference>Load_Messaging_User</inputReference>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Load_Messaging_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
