force-app/main/default/flows/Setup_Energy_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add the populated EnergyServiceAgreementItemRecord to the EnergyServiceAgreementItems collection.</description>
        <name>AddESAIRecordToList</name>
        <label>Add Energy Service Agreement Item Record to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EnergyServiceAgreementItemRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOrderProductRecipientRecordFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the populated OrderProductRecipientRecord to the OrderProductRecipients collection.</description>
        <name>AddOrderProductRecipientRecordToList</name>
        <label>Add Order Product Recipient Record to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderProductRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProductRecipientRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSellableOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add sellable order products that have a recipient to the SellableOrderProducts list, add their order product IDs to the OrderProductIds list, and add order product recipient’s service point market identifiers to the ServicePointMarketIdentifiers list.</description>
        <name>AddSellableProductsIdsAndMarketIdentifiers</name>
        <label>Add Sellable Products, IDs &amp; Market Identifiers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SellableOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOrderProducts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SellableOrderProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateOrderProducts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicePointMarketIdentifiers</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!IterateOrderProducts.OrderItemRecipient.ServicePointMarketIdentifier}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsItParentOrderProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the populated ServicePointRecord to the ServicePointRecords collection</description>
        <name>AddServicePointList</name>
        <label>Add Service Point to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServicePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServicePointRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateSellableOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the populated ServicePointRecord to the UpdatedServicePoints collection.</description>
        <name>AddServicePointRecordToList</name>
        <label>Add Service Point Record to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedServicePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ServicePointRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateSegregatedServicePoint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Aggregate both new and existing Service Point records into a single collection for further processing.</description>
        <name>AggregateServicePoints</name>
        <label>Aggregate Service Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServicePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetServicePoints</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateEnergyServiceAgreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the AddressRecord variable with the appropriate address field values.</description>
        <name>SetAddressRecordFields</name>
        <label>Set Address Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddressRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServiceCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServiceState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServiceCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServicePostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServiceStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressRecord.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set asset action source record variable.</description>
        <name>SetAssetActionSource</name>
        <label>Set Asset Action Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssetActionSourceRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateAssetActionSources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateAssetActionSources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the field values in the AssociatedLocationRecord variable to define the relationship between the Account and the Location.</description>
        <name>SetAssociatedLocationRecordFields</name>
        <label>Set Associated Location Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AssociatedLocationRecord.LocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssociatedLocationRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssociatedLocationRecord.ActiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAssociatedLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the EnergyServiceAgreementItemRecord variable with the appropriate field values.</description>
        <name>SetEnergyServiceAgreementItemRecordFields</name>
        <label>Set Energy Service Agreement Item Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementItemRecord.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetActionSourceRecord.AssetAction.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementItemRecord.ServicePointId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementItemRecord.EnergyServiceAgreementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnergyServiceAgreementRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementItemRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSellableOrderProducts.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementItemRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSellableOrderProducts.Order.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddESAIRecordToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set energy service agreement record fields</description>
        <name>SetEnergyServiceAgreementRecordFields</name>
        <label>Set Energy Service Agreement Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOrderProducts.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementRecord.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOrderProducts.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementRecord.ActivationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOrderProducts.Order.ActivatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOrderProducts.Order.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementRecord.BillingSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnergyServiceAgreementRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set location record from Get Location to LocationRecord variable</description>
        <name>SetLocationRecord</name>
        <label>Set Location Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LocationRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateSellableOrderProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set location record fields</description>
        <name>SetLocationRecordFields</name>
        <label>Set Location Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LocationRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationRecord.LocationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LocationRecord.DistributionArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.DistributionArea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the OrderProductRecipientRecord variable with the appropriate field values.</description>
        <name>SetOrderProductRecipientRecordFields</name>
        <label>Set Order Product Recipient Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderProductRecipientRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSellableOrderProducts.OrderItemRecipientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductRecipientRecord.ServicePointId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOrderProductRecipientRecordToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set service point record variable.</description>
        <name>SetServicePoint</name>
        <label>Set Service Point</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServicePointRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSegregatedServicePoint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetServicePointStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate the ServicePointRecord variable with the appropriate Service Point field values.</description>
        <name>SetServicePointRecordFields</name>
        <label>Set Service Point Record Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServicePointRecord.MarketIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServicePointMarketIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicePointRecord.PremisesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServicePointRecord.ServiceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServiceType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddServicePointList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set service point status to Active.</description>
        <name>SetServicePointStatus</name>
        <label>Set Service Point Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ServicePointRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Active</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddServicePointRecordToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Visitor Address in the Location record.</description>
        <name>SetVisitorAddressInLocation</name>
        <label>Set Visitor Address In Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LocationRecord.VisitorAddressId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLocationWithVisitorAddress</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>From the output of &apos;Get Service Points&apos;, filter the records where the Market Identifier matches the desired value.</description>
        <name>FilterServicePoint</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Service Point</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FilterServicePoint</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetServicePoints</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterServicePoint.MarketIdentifier</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>IterateSellableOrderProducts.OrderItemRecipient.ServicePointMarketIdentifier</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DoesServicePointExist</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter Asset Action Source records using the Order Item ID to retrieve the associated Asset.</description>
        <name>SegregateAssetActionSource</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Segregate Asset Action Source</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_SegregateAssetActionSource</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAssetActionSources</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SegregateAssetActionSource.ReferenceEntityItemId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopSellableOrderProducts.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>IterateAssetActionSources</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Filter Service Points by matching their Market Identifier with the Order Product Recipient’s Market Identifier.</description>
        <name>SegregateServicePoint</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Segregate Service Point</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_SegregateServicePoint</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ServicePoints</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_SegregateServicePoint.MarketIdentifier</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopSellableOrderProducts.OrderItemRecipient.ServicePointMarketIdentifier</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>IterateSegregatedServicePoint</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <description>Text constant with the value &quot;Active&quot;.</description>
        <name>Active</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </constants>
    <constants>
        <description>Text constant with the value &quot;Commercial&quot;.</description>
        <name>Commercial</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Commercial</stringValue>
        </value>
    </constants>
    <constants>
        <description>Text constant with the value &quot;Monthly&quot;.</description>
        <name>Monthly</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Monthly</stringValue>
        </value>
    </constants>
    <constants>
        <description>Text constant with the value &quot;Residential&quot;.</description>
        <name>Residential</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Residential</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if the location already exists by checking the output of Get Location.</description>
        <name>DoesLocationExist</name>
        <label>Does Location Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetLocationRecordFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LocationExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LocationRecord.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesLocationHaveAddress</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Location record (new or existing) contains a Visitor Address.</description>
        <name>DoesLocationHaveAddress</name>
        <label>Does the Location Have an Address?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetAddressRecordFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LocationHasAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLocation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLocation.VisitorAddressId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilterServicePoint</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the order product if it has a recipient</description>
        <name>DoesOrderProductHaveRecipient</name>
        <label>Does the Order Product Have a Recipient?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsItParentOrderProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OrderProductHasRecipient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOrderProducts.OrderItemRecipientId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOrderProducts.OrderItemRecipientId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddSellableProductsIdsAndMarketIdentifiers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verify the existence of a Service Point by checking whether the filtered result from &apos;Filter Service Point&apos; is not null or empty.</description>
        <name>DoesServicePointExist</name>
        <label>Does Service Point Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetServicePointRecordFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ServicePointExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterServicePoint</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FilterServicePoint</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateSellableOrderProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if order product is parent or not</description>
        <name>IsItParentOrderProduct</name>
        <label>Is It a Parent Order Product?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateOrderProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ParentOrderProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOrderProducts.ParentOrderItemId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEnergyServiceAgreementRecordFields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if order item is of sellable product (DualFuel, Energy or Gas)</description>
        <name>IsItSellableCommodityOrderProducts</name>
        <label>Is It a Sellable Commodity Order Product?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateOrderProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SellableCommodityOrderProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateOrderProducts.Product2.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Commercial</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterateOrderProducts.Product2.IsCommodity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DoesOrderProductHaveRecipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision element to determine whether the event emitted by the job is the final one.</description>
        <name>IsLastEvent</name>
        <label>Is Last Event?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LastEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsLastEvent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderProducts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision element to check whether the output of the &apos;Get Service Points&apos; contains any records.</description>
        <name>IsThereAnyExistingServicePoint</name>
        <label>Is there any existing Service Point?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IterateSellableOrderProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ServicePointsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServicePoints</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetServicePoints</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectLocationIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula returns the current date and time using the NOW() method.</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Formula returns the Location Name by concatenating the Account Name and the Address keyword.</description>
        <name>LocationName</name>
        <dataType>String</dataType>
        <expression>{!IterateSellableOrderProducts.Order.Account.Name} &amp; &quot;&apos;s  Address&quot;</expression>
    </formulas>
    <interviewLabel>Setup Energy Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Setup Energy Service</label>
    <loops>
        <description>Iterate filtered asset action sources.</description>
        <name>IterateAssetActionSources</name>
        <label>Iterate Asset Action Sources</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SegregateAssetActionSource</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetAssetActionSource</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetEnergyServiceAgreementItemRecordFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate on order items to filter out sellable order item and parent order item</description>
        <name>IterateOrderProducts</name>
        <label>Iterate Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetOrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsItSellableCommodityOrderProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAssetActionSources</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate filtered service points.</description>
        <name>IterateSegregatedServicePoint</name>
        <label>Iterate Segregated Service Point</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SegregateServicePoint</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetServicePoint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SegregateAssetActionSource</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate over sellable order products to create location, address and service point if not exist</description>
        <name>IterateSellableOrderProducts</name>
        <label>Iterate Sellable Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SellableOrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DoesLocationExist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateServicePoints</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through sellable Order Product records to create corresponding Energy Service Agreement Item records.</description>
        <name>LoopSellableOrderProducts</name>
        <label>Loop Sellable Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SellableOrderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SegregateServicePoint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateEnergyServiceAgreementItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the Address record.</description>
        <name>CreateAddress</name>
        <label>Create Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetVisitorAddressInLocation</targetReference>
        </connector>
        <inputReference>AddressRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a new Associated Location record to represent the Account–Location relationship.</description>
        <name>CreateAssociatedLocation</name>
        <label>Create Associated Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DoesLocationHaveAddress</targetReference>
        </connector>
        <inputReference>AssociatedLocationRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create a new Energy Service Agreement record in Salesforce.</description>
        <name>CreateEnergyServiceAgreement</name>
        <label>Create Energy Service Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopSellableOrderProducts</targetReference>
        </connector>
        <inputReference>EnergyServiceAgreementRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create new Energy Service Agreement Items records in Salesforce using the populated collection.</description>
        <name>CreateEnergyServiceAgreementItems</name>
        <label>Create Energy Service Agreement Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateServicePoints</targetReference>
        </connector>
        <inputReference>EnergyServiceAgreementItems</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the Location record</description>
        <name>CreateLocation</name>
        <label>Create Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetAssociatedLocationRecordFields</targetReference>
        </connector>
        <inputReference>LocationRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create new Service Point records in Salesforce using the ServicePointRecords collection.</description>
        <name>CreateServicePoints</name>
        <label>Create Service Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AggregateServicePoints</targetReference>
        </connector>
        <inputReference>ServicePoints</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get all the asset action sources for all the sellable order products. These asset action sources will be used to get the assets.</description>
        <name>GetAssetActionSources</name>
        <label>Get Asset Action Sources</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetServicePoints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceEntityItemId</field>
            <operator>In</operator>
            <value>
                <elementReference>SellableOrderProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssetActionSource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the location record using the location id of the service points.</description>
        <name>GetLocation</name>
        <label>Get Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetLocationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectLocationIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the OrderItems of the order</description>
        <name>GetOrderProducts</name>
        <label>Get Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateOrderProducts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderIdentifier</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves all the service point if they exist by matching market identifiers from order product recipient and service point</description>
        <name>GetServicePoints</name>
        <label>Get Service Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsThereAnyExistingServicePoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MarketIdentifier</field>
            <operator>In</operator>
            <value>
                <elementReference>ServicePointMarketIdentifiers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServicePoint</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Location record with the Visitor Address.</description>
        <name>UpdateLocationWithVisitorAddress</name>
        <label>Update Location With Visitor Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FilterServicePoint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LocationRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VisitorAddressId</field>
            <value>
                <elementReference>AddressRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Location</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update order product recipients with service point ids.</description>
        <name>UpdateOrderProductRecipients</name>
        <label>Update Order Product Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>OrderProductRecipients</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Service Points status to Active.</description>
        <name>UpdateServicePoints</name>
        <label>Update Service Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateOrderProductRecipients</targetReference>
        </connector>
        <inputReference>UpdatedServicePoints</inputReference>
    </recordUpdates>
    <sourceTemplate>eusales__SetupEnergySvc</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsLastEvent</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>CreateAssetOrderEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <description>Collects the location ids from service points</description>
        <name>CollectLocationIds</name>
        <label>Collect Location Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLocation</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetServicePoints[$EachItem].PremisesId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Record variable holds field values of the Address object, which are later used to create an Address record.</description>
        <name>AddressRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Address</objectType>
    </variables>
    <variables>
        <description>Record variable holds field values of the Associated Location object, which are later used to hold an Associated Location record.</description>
        <name>AssetActionSourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetActionSource</objectType>
    </variables>
    <variables>
        <description>Record variable holds field values of the Associated Location object, which are later used to create an Associated Location record.</description>
        <name>AssociatedLocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssociatedLocation</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterServicePoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServicePoint</objectType>
    </variables>
    <variables>
        <name>currentItem_SegregateAssetActionSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetActionSource</objectType>
    </variables>
    <variables>
        <name>currentItem_SegregateServicePoint</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServicePoint</objectType>
    </variables>
    <variables>
        <description>Record variable holds field values of the EnergyServiceAgreementItem object, which are later used to create an EnergyServiceAgreementItem record.</description>
        <name>EnergyServiceAgreementItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EnergyServiceAgreementItem</objectType>
    </variables>
    <variables>
        <description>Collection variable holds newly created Energy Service Agreement Item records within the flow</description>
        <name>EnergyServiceAgreementItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EnergyServiceAgreementItem</objectType>
    </variables>
    <variables>
        <description>Record variable holds field values of the EnergyServiceAgreement object, which are later used to create an EnergyServiceAgreement record.</description>
        <name>EnergyServiceAgreementRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EnergyServiceAgreement</objectType>
    </variables>
    <variables>
        <description>Record variable holds field values of the Location object, which are later used to create a Location record if not existed.</description>
        <name>LocationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <description>Record variable holds field values of the Order Product Recipient object.</description>
        <name>OrderProductRecipientRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemRecipient</objectType>
    </variables>
    <variables>
        <description>Collection holds order product recipients records.</description>
        <name>OrderProductRecipients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemRecipient</objectType>
    </variables>
    <variables>
        <description>Collection variable stores the IDs of sellable order products.</description>
        <name>SellableOrderProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection variable holds Order Product records that are sellable and have associated product recipients.</description>
        <name>SellableOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>Collection variable stores the market identifiers of Service Points retrieved from the Order Product Recipient entity.</description>
        <name>ServicePointMarketIdentifiers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record variable holds field values of the Service Point object, which are later used to create and hold a Service Point record.</description>
        <name>ServicePointRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServicePoint</objectType>
    </variables>
    <variables>
        <description>Collection variable holds Service Point records, including both newly created (within the flow) and existing ones.</description>
        <name>ServicePoints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServicePoint</objectType>
    </variables>
    <variables>
        <description>Collection holds the updated service point records</description>
        <name>UpdatedServicePoints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServicePoint</objectType>
    </variables>
</Flow>
