force-app/main/default/flows/Solar_Queue_Routing_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Route_Based_on_Stage</name>
        <label>Route Based on Stage</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Routing Needed</defaultConnectorLabel>
        <rules>
            <name>Engineering_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engineering Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_You</targetReference>
            </connector>
            <label>Engineering Review</label>
        </rules>
        <rules>
            <name>Meter_Department_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meter Department Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_You</targetReference>
            </connector>
            <label>Meter Department Review</label>
        </rules>
    </decisions>
    <description>Routes solar cases based on Approval Stage - assigns to current user for demo purposes</description>
    <environments>Default</environments>
    <interviewLabel>Solar - Queue Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solar - Queue Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Assign_to_You</name>
        <label>Assign to You</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_Based_on_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Solar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
