force-app/main/default/flows/Terminate_ESA_For_Billing_Account_DCT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the output variables</description>
        <name>AssignOutputVariables</name>
        <label>Assign Output Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns the updated contract parameter values.</description>
        <name>AssignUpdateContractParams</name>
        <label>Assign Update Contract Params</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateContractParams.externalContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateOverEnergyServiceAgreements.ExternalContractIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateContractParams.endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignUpdateContractParamsCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the updated contract parameters to the updateContractParamsCollection.</description>
        <name>AssignUpdateContractParamsCollection</name>
        <label>Assign Update Contract Params Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateContractParamsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateContractParams</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateOverEnergyServiceAgreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns an error to the response message.</description>
        <name>ESAINotExist</name>
        <label>ESAI Not Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ESAINotFound</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns an error to the response message.</description>
        <name>ESANotExist</name>
        <label>ESA Not Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ESANotFound</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns an error to the response message.</description>
        <name>ServicePointsNotExist</name>
        <label>Service Points Not Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>responseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServicePointsNotFound</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determines whether the GetEnergyServiceAgreementItem is present.</description>
        <name>HaveEnergyServiceAgreementItems</name>
        <label>Have Energy Service Agreement Items ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ESAINotExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No(Default)</defaultConnectorLabel>
        <rules>
            <name>HasEnergyServiceAgreementItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEnergyServiceAgreementItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectEnergyServiceAgreementIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether energy service agreements are available.</description>
        <name>HaveEnergyServiceAgreements</name>
        <label>Have Energy Service Agreements ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ESANotExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasEnergyServiceAgreements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEnergyServiceAgreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterateOverEnergyServiceAgreements</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether any service points are available for the premises ID passed into the flow.</description>
        <name>HaveServicePoints</name>
        <label>Have Service Points ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ServicePointsNotExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasServicePoints</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServicePoint</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectServicePointIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>06/20: Debarshi</description>
    <environments>Default</environments>
    <interviewLabel>Terminate ESA For Billing Account DCT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terminate ESA For Billing Account DCT</label>
    <loops>
        <description>Repeats actions for each energy service agreement.</description>
        <name>IterateOverEnergyServiceAgreements</name>
        <label>Iterate Over Energy Service Agreements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GetEnergyServiceAgreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUpdateContractParams</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateEnergyServiceAgreements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <overriddenFlow>euagentforce__TerminateESAForBILLACCT</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the energy service agreements and stores the result in GetEnergyServiceAgreement variable.</description>
        <name>GetEnergyServiceAgreement</name>
        <label>Get Energy Service Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveEnergyServiceAgreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectEnergyServiceAgreementIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalContractIdentifier</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>50.0</numberValue>
        </limit>
        <object>EnergyServiceAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the energy service agreements records for the billing account and service points. Stores the result in GetEnergyServiceAgreementItem record variable.</description>
        <name>GetEnergyServiceAgreementItem</name>
        <label>Get Energy Service Agreement Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveEnergyServiceAgreementItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>billingAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ServicePointId</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectServicePointIds</elementReference>
            </value>
        </filters>
        <limit>
            <numberValue>50.0</numberValue>
        </limit>
        <object>EnergyServiceAgreementItem</object>
        <outputReference>energyServiceAgreementItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>EnergyServiceAgreementId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the service point records that match the premises ID passed into the flow. Stores the result in GetServicePoint record variable.</description>
        <name>GetServicePoint</name>
        <label>Get Service Point</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveServicePoints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PremisesId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>premisesId</elementReference>
            </value>
        </filters>
        <limit>
            <numberValue>50.0</numberValue>
        </limit>
        <object>ServicePoint</object>
        <outputReference>servicePoints</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Terminate energy service agreements by updating the end date.</description>
        <name>UpdateEnergyServiceAgreements</name>
        <label>Update Energy Service Agreements</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignOutputVariables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectEnergyServiceAgreementIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </inputAssignments>
        <object>EnergyServiceAgreement</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetServicePoint</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Maps the Energy Service Agreement IDs from Energy Service Agreement Item Object to a new collection variable.</description>
        <name>CollectEnergyServiceAgreementIds</name>
        <label>Collect Energy Service Agreement IDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEnergyServiceAgreement</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>energyServiceAgreementItems[$EachItem].EnergyServiceAgreementId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>Maps the service point IDs from the Service Points Object and to a new collection variable.</description>
        <name>CollectServicePointIds</name>
        <label>Collect Service Point Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetEnergyServiceAgreementItem</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>servicePoints[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Take Billing account Id as input</description>
        <name>billingAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Take ESA end date as the input.</description>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>energyServiceAgreementItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EnergyServiceAgreementItem</objectType>
    </variables>
    <variables>
        <description>Energy Service Agreement Items do not exists.</description>
        <name>ESAINotFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Indicates that the Energy Service Agreement Items don&apos;t exist.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Indicates that Energy Service Agreements are not available.</description>
        <name>ESANotFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Energy Service Agreements do not exists.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Boolean variable to show success or failure of the flow.</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Take Premises Id as input</description>
        <name>premisesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the response message.</description>
        <name>responseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>servicePoints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServicePoint</objectType>
    </variables>
    <variables>
        <name>ServicePointsNotFound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Assigns an error to the response message if the service points are not available.</stringValue>
        </value>
    </variables>
    <variables>
        <description>Enter the contract fields key value pair</description>
        <name>updateContractParams</name>
        <apexClass>euagentforce__UpdateContractParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateContractParamsCollection</name>
        <apexClass>euagentforce__UpdateContractParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
