force-app/main/default/flows/Trigger_Application_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Approval_Rule</name>
        <label>Call Approval Rule</label>
        <locationX>1273</locationX>
        <locationY>998</locationY>
        <actionName>Utilities_Application_Approval_Rule</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>should_AutoApprove</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ProgramName</name>
            <value>
                <elementReference>Validate_Program.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Utilities_Application_Approval_Rule</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Send this application for manual approval.</description>
        <name>Send_for_Approval</name>
        <label>Send for Approval</label>
        <locationX>1581</locationX>
        <locationY>1730</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <description>Auto Approve the Application</description>
        <name>AUTO_APPROVE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoApprove</stringValue>
        </value>
    </constants>
    <constants>
        <description>Auto Reject the Application</description>
        <name>AUTO_REJECT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AutoReject</stringValue>
        </value>
    </constants>
    <constants>
        <description>Request for Manual Approval of Application</description>
        <name>REQUEST_APPROVAL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RequestApproval</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if Application has associated items.</description>
        <name>Application_has_Items</name>
        <label>Application has Items?</label>
        <locationX>442</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_ProgramProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ApplicationItem.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Items</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is the Application item associated with a ProgramProduct?</description>
        <name>Got_ProgramProduct</name>
        <label>Got a ProgramProduct?</label>
        <locationX>712</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Validate_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>ProgramProduct_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ProgramProduct.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for valid Action Plan Template.</description>
        <name>has_ActionPlan</name>
        <label>Has ActionPlan</label>
        <locationX>1581</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Create_Action_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Action_Plan_Template.ActionPlanTemplateId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_Application_InReview</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate associated Program.</description>
        <name>Program_exists</name>
        <label>Got valid Program?</label>
        <locationX>987</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Call_Approval_Rule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Program_Exists_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Program.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Should AutoApprove?</description>
        <name>should_AutoApprove</name>
        <label>AutoApprove?</label>
        <locationX>1273</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Get_Action_Plan_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RequestApproval</defaultConnectorLabel>
        <rules>
            <name>AutoReject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Approval_Rule.Approval_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AUTO_REJECT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_Application</targetReference>
            </connector>
            <label>AutoReject</label>
        </rules>
        <rules>
            <name>AutoApprove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Approval_Rule.Approval_Decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AUTO_APPROVE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_Application</targetReference>
            </connector>
            <label>AutoApprove</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate Application details.</description>
        <name>Valid_Application</name>
        <label>Got valid Application?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_ApplicationItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Valid_Application_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Application.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Trigger Application Approval for Utility Program.</description>
    <environments>Default</environments>
    <interviewLabel>Trigger Application Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Trigger Application Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Associate the action plan to this Application via given Action Plan Template.</description>
        <name>Create_Action_Plan</name>
        <label>Create Action Plan</label>
        <locationX>1669</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Move_Application_InReview</targetReference>
        </connector>
        <inputAssignments>
            <field>ActionPlanState</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanTemplateVersionId</field>
            <value>
                <elementReference>Get_Action_Plan_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActionPlanType</field>
            <value>
                <stringValue>Industries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Verify Application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Action_Plan_Template.ActionPlanTemplate.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetId</field>
            <value>
                <elementReference>Validate_Application.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ActionPlan</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Published Action Plan Template version with a given name.</description>
        <name>Get_Action_Plan_Template</name>
        <label>Get Action Plan Template</label>
        <locationX>1581</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_ActionPlan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Call_Approval_Rule.APT_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionPlanTemplateVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the first item of this Application.</description>
        <name>Get_ApplicationItem</name>
        <label>Get first Application Item</label>
        <locationX>442</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_has_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IndividualApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplicationItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get corresponding ProgramProduct record.</description>
        <name>Get_ProgramProduct</name>
        <label>Get ProgramProduct</label>
        <locationX>712</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Got_ProgramProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ApplicationItem.RelatedItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProgramProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check for Submitted Application with category Program.</description>
        <name>Validate_Application</name>
        <label>Validate Application</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check for the Active Program.</description>
        <name>Validate_Program</name>
        <label>Validate Program is Active</label>
        <locationX>987</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ProgramProduct.ProgramId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Application Status to Approved.</description>
        <name>Approve_Application</name>
        <label>Approve Application</label>
        <locationX>1229</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Validate_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Application Status to In Review.</description>
        <name>Move_Application_InReview</name>
        <label>Move Application InReview</label>
        <locationX>1581</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Send_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Validate_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Application Status to Rejected and RejectionReason to Updated through auto-rule.</description>
        <name>Reject_Application</name>
        <label>Reject Application</label>
        <locationX>965</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Validate_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RejectionReason</field>
            <value>
                <stringValue>Updated through Auto-Rule</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Input Application Id</description>
        <name>ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
