force-app/main/default/flows/xDO_Tool_Tracking_Event_Reporting_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call Reporting Conversion Tracking Event</description>
        <name>Call_Reporting_Conversion_Tracking_Event</name>
        <label>Call Reporting Conversion Tracking Event</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>XDO_Tool_TrackingEventReporting</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>asset_identifier</name>
            <value>
                <elementReference>AssetIdentifer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>event</name>
            <value>
                <stringValue>Conversion</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>once</name>
            <value>
                <elementReference>Once</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>properties</name>
            <value>
                <elementReference>properties</elementReference>
            </value>
        </inputParameters>
        <nameSegment>XDO_Tool_TrackingEventReporting</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Properties_Collection</name>
        <label>Assign Properties Collection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>properties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>actionProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>properties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetIdentifierProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>properties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>minutesSavedProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>properties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sourceProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Reporting_Conversion_Tracking_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Property_Values</name>
        <label>Set Property Values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>actionProperty.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>actionProperty.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetIdentifierProperty.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>asset_identifier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetIdentifierProperty.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetIdentifer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>minutesSavedProperty.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>minutes_saved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>minutesSavedProperty.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MinutesSaved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceProperty.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>source</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sourceProperty.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Properties_Collection</targetReference>
        </connector>
    </assignments>
    <description>xDO Tool - Tracking Event (Reporting Conversion)</description>
    <environments>Default</environments>
    <interviewLabel>xDO Tool - Tracking Event (Reporting Conversion) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>xDO Tool - Tracking Event (Reporting Conversion)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Property_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>actionProperty</name>
        <apexClass>XDO_Tool_TrackingEventProperty</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssetIdentifer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetIdentifierProperty</name>
        <apexClass>XDO_Tool_TrackingEventProperty</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MinutesSaved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>minutesSavedProperty</name>
        <apexClass>XDO_Tool_TrackingEventProperty</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Once</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>properties</name>
        <apexClass>XDO_Tool_TrackingEventProperty</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourceProperty</name>
        <apexClass>XDO_Tool_TrackingEventProperty</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
